Repository JorisWeeda/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pep8, docker, clang tidy

pep8:
  stage: lint
  script:
  - cd ros1/
  - python -m autopep8 --diff -r --aggressive --aggressive --exit-code src
  - python -m flake8
  allow_failure: true

docker:
  stage: docker
  image: docker:latest
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: /certs
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  ...

clang tidy:
  needs:
  - colcon build
  stage: static_analysis
  script:
  - cd ros1/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  allow_failure: true

Add DISPLAY environmental variable to run.sh
  scripts/run.sh
Due: none

Change to correct directory for CMake make install
  scripts/setup.sh
Due: none

Disable removal of melodic after installing foxy depencencies
  scripts/setup.sh
Due: none

Install up-to-date cmake version before building ROS 2
  scripts/setup.sh
Due: none

Add wget as a dependency for cmake building
  scripts/setup.sh
Due: none

Adapt script to use install the dependencies from issue
  scripts/create_commands.sh
  scripts/setup.sh
Due: none

Fix typo in install_dependencies_ros2.sh
  scripts/install_dependencies_ros2.sh
Due: none

Use local_setup for march_build_ros1
  scripts/create_commands.sh
  scripts/setup.sh
Due: none

Add sourcing of local March repositories
  scripts/create_commands.sh
Due: none

Use catkin instead of colcon for ROS 1
  scripts/create_commands.sh
Due: none

Just install ROS 2 dependencies instead of both ROS 1 and ROS 2 dependencies
  scripts/setup.sh
Due: none

Use .zsh instead of .bash in create_commands.sh
  scripts/create_commands.sh
Due: none

Remove possibly unnessary source commands
  scripts/create_commands.sh
Due: none

Remove python3-rosdep as a dependency for ROS 2
  scripts/setup.sh
Due: none

Add apt-utils
  scripts/setup.sh
Due: none

adding more functionality to the ModelPredictiveController class
  ros1/.idea/.gitignore
  ros1/.idea/.name
  ros1/.idea/misc.xml
  ros1/.idea/ros1.iml
  ros1/.idea/workspace.xml
  ros1/src/march_acado_mpc/generated_src/acado_qpoases_interface.cpp
  ros1/src/march_acado_mpc/include/march_acado_mpc/acado_mpc.h
  ros1/src/march_acado_mpc/src/acado_mpc.cpp
  ros1/src/march_acado_mpc/src/march_acado_mpc_node.cpp
Due: clang tidy

improving the CMakeLists
  ros1/src/march_acado_mpc/CMakeLists.txt
Due: none

fix acado_qpoases_interface.cpp include problem
  ros1/.idea/workspace.xml
  ros1/src/march_acado_mpc/CMakeLists.txt
  ros1/src/march_acado_mpc/generated_src/acado_qpoases_interface.cpp
Due: clang tidy

Start with subgait generator
  ros1/src/march_gait_files/motorcontroller-test/test_gait/perform_test/final.subgait
  ros1/src/march_motorcontroller_test/CMakeLists.txt
  ros1/src/march_motorcontroller_test/package.xml
  ros1/src/march_motorcontroller_test/scripts/march_motorcontroller_test
  ros1/src/march_motorcontroller_test/setup.py
  ros1/src/march_motorcontroller_test/src/march_motorcontroller_test/__init__.py
  ros1/src/march_motorcontroller_test/src/march_motorcontroller_test/random_subgait_generator.py
Due: pep8

Update default yaml
  ros1/src/march_gait_files/motorcontroller-test/default.yaml
  ros1/src/march_gait_files/motorcontroller-test/test_gait/perform_test/perform_test.subgait
Due: none

Update type of error and other variables
  ros1/src/march_hardware/config/march_odrive.json
  ros1/src/march_hardware/config/rotational_joint.json
  ros1/src/march_hardware/include/march_hardware/motor_controller/odrive/odrive.h
  ros1/src/march_hardware/include/march_hardware/motor_controller/odrive/odrive_endpoint.h
  ros1/src/march_hardware/include/march_hardware/motor_controller/odrive/odrive_enums.h
  ros1/src/march_hardware/include/march_hardware/motor_controller/odrive/odrive_motor.h
  ros1/src/march_hardware/src/odrive/odrive.cpp
  ros1/src/march_hardware/src/odrive/odrive_motor.cpp
Due: clang tidy

Add test_gait buttons
  ros1/src/march_gait_files/motorcontroller-test/default.yaml
  ros1/src/march_gait_files/motorcontroller-test/test_gait/test_gait.gait
  ros1/src/march_hardware/include/march_hardware/motor_controller/odrive/odrive_enums.h
  ros1/src/march_hardware/src/odrive/odrive.cpp
  ros1/src/march_hardware/src/odrive/odrive_endpoint.cpp
  ros1/src/march_hardware/src/odrive/odrive_motor.cpp
  ros1/src/march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
  ros1/src/march_safety/src/input_device_safety.cpp
Due: pep8, clang tidy

Front sit and stand up gaits
  ros1/src/march_gait_files/test_versions-vi/default.yaml
  ros1/src/march_gait_files/test_versions-vi/sit/sit.gait
  ros1/src/march_gait_files/test_versions-vi/sit/sit_down/MVI_sitdown_frontsit.subgait
  ros1/src/march_gait_files/test_versions-vi/sit/sit_home/MVI_sithome_frontsit.subgait
  ros1/src/march_gait_files/test_versions-vi/stand/prepare_stand_up/MVI_prepare_standup_frontsit.subgait
  ros1/src/march_gait_files/test_versions-vi/stand/stand.gait
  ros1/src/march_gait_files/test_versions-vi/stand/stand_up/MVI_standup_frontsit.subgait
Due: none

Actuate test joint in simulation
  ros1/src/march_gait_files/motorcontroller-test/default.yaml
  ros1/src/march_gait_files/motorcontroller-test/test_gait/perform_test/final.subgait
  ros1/src/march_gait_files/motorcontroller-test/test_gait/perform_test/version_0.subgait
  ros1/src/march_gait_selection/src/march_gait_selection/state_machine/gait_state_machine.py
  ros1/src/march_hardware_interface/launch/hardware.launch
  ros1/src/march_launch/launch/march.launch
  ros1/src/march_launch/launch/march_simulation.launch
  ros1/src/march_motorcontroller_test/CMakeLists.txt
  ros1/src/march_motorcontroller_test/scripts/generate_subgait
  ros1/src/march_motorcontroller_test/scripts/march_motorcontroller_test
  ros1/src/march_motorcontroller_test/setup.py
  ros1/src/march_motorcontroller_test/src/march_motorcontroller_test/random_subgait_generator.py
  ros1/src/march_motorcontroller_test/src/march_motorcontroller_test/subgait_generator.py
  ros1/src/march_safety/src/input_device_safety.cpp
  ros1/src/march_simulation/launch/march_world.launch
Due: pep8, clang tidy

Update dtypes of axis errors odrive
  ros1/src/march_hardware/include/march_hardware/motor_controller/odrive/odrive_states.h
  ros1/src/march_hardware/src/odrive/odrive.cpp
Due: clang tidy

adding ContentFetch test to CMakeLists
  ros1/src/march_acado_mpc/CMakeLists.txt
  ros1/src/march_acado_mpc/include/march_acado_mpc/acado_mpc.h
  ros1/src/march_acado_mpc/src/acado_mpc.cpp
  ros1/src/march_acado_mpc/src/march_acado_mpc_node.cpp
Due: clang tidy

modifying .gitignore
  ros1/.idea/.gitignore
  ros1/.idea/.name
  ros1/.idea/dictionaries/mjmtv.xml
  ros1/.idea/libraries/ROS.xml
  ros1/.idea/libraries/workspace.xml
  ros1/.idea/misc.xml
  ros1/.idea/modules.xml
  ros1/.idea/ros.xml
  ros1/.idea/ros1.iml
  ros1/.idea/vcs.xml
  ros1/.idea/workspace.xml
  ros1/src/march_acado_mpc/.gitignore
Due: none

Remove march_data_collector package
  ros1/src/march_data_collector/CMakeLists.txt
  ros1/src/march_data_collector/esp_models/project_march.xml
  ros1/src/march_data_collector/launch/esp_adapter.launch
  ros1/src/march_data_collector/launch/march_data_collector.launch
  ros1/src/march_data_collector/package.xml
  ros1/src/march_data_collector/scripts/esp_adapter
  ros1/src/march_data_collector/scripts/march_data_collector
  ros1/src/march_data_collector/setup.py
  ros1/src/march_data_collector/src/march_data_collector/__init__.py
  ros1/src/march_data_collector/src/march_data_collector/com_calculator.py
  ros1/src/march_data_collector/src/march_data_collector/cp_calculator.py
  ros1/src/march_data_collector/src/march_data_collector/data_collector_node.py
  ros1/src/march_data_collector/src/march_data_collector/esp_adapter.py
  ros1/src/march_data_collector/src/march_data_collector/inverted_pendulum.py
Due: pep8

Remove references to march_data_collector from march_launch files
  ros1/src/march_launch/launch/march.launch
  ros1/src/march_launch/launch/march_headless.launch
  ros1/src/march_launch/launch/march_ros2_simulation.launch
  ros1/src/march_launch/launch/march_simulation.launch
  ros1/src/march_launch/package.xml
Due: none

Make simple launch file
  ros1/src/march_simulation/config/effort_control/simple.yaml
  ros2/src/march_description/launch/march_description.launch.py
  ros2/src/march_simulation/CMakeLists.txt
  ros2/src/march_simulation/launch/gazebo_launch.launch.py
  ros2/src/march_simulation/launch/march_world.launch
  ros2/src/march_simulation/launch/march_world.launch.py
  ros2/src/march_simulation/package.xml
  ros2/src/march_simulation/resource/march_simulation
  ros2/src/march_simulation/scripts/__init__.py
  ros2/src/march_simulation/scripts/upload_joint_names
  ros2/src/march_simulation/setup.cfg
  ros2/src/march_simulation/setup.py
Due: pep8

removing use of CMake FetchContent
  ros1/src/march_acado_mpc/CMakeLists.txt
Due: none

make the ramp and door obstacle dependant on a ramp_up_slope and ramp_down_slope parameter
  ros1/src/march_simulation/obstacles/ramp_and_door.xacro
Due: none

Add gzclient and gzserver launch
  ros2/src/march_simulation/launch/gazebo_launch.launch.py
  ros2/src/march_simulation/launch/march_world.launch.py
Due: pep8

Update create_commands to remove schroot directory
  scripts/create_commands.sh
Due: none

Use variables for ROS 1, ROS 2 and March locations
  scripts/create_commands.sh
Due: none

Add /march/motoco_test/actuate_torque topic for actuating torque on test joint
  ros1/src/march_hardware/config/rotational_joint.json
  ros1/src/march_hardware/src/odrive/odrive_motor.cpp
  ros1/src/march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  ros1/src/march_hardware_interface/src/march_hardware_interface.cpp
  ros1/src/march_hardware_interface/src/march_hardware_interface_node.cpp
  ros1/src/march_launch/launch/march.launch
  ros1/src/march_safety/src/input_device_safety.cpp
Due: clang tidy

Add gear ratio constant and refactor position calculation
  ros1/src/march_hardware/include/march_hardware/motor_controller/odrive/odrive_motor.h
  ros1/src/march_hardware/src/odrive/odrive_motor.cpp
  ros1/src/march_hardware_interface/src/march_hardware_interface.cpp
Due: clang tidy

Remove generated_src files from this repository to acado-solver repository
  ros1/src/march_acado_mpc/generated_src/acado_auxiliary_functions.c
  ros1/src/march_acado_mpc/generated_src/acado_auxiliary_functions.h
  ros1/src/march_acado_mpc/generated_src/acado_common.h
  ros1/src/march_acado_mpc/generated_src/acado_integrator.c
  ros1/src/march_acado_mpc/generated_src/acado_qpoases_interface.cpp
  ros1/src/march_acado_mpc/generated_src/acado_qpoases_interface.hpp
  ros1/src/march_acado_mpc/generated_src/acado_solver.c
Due: clang tidy

Change some Odrive config parameter values
  ros1/src/march_gait_files/motorcontroller-test/test_gait/perform_test/version_0.subgait
  ros1/src/march_hardware/config/rotational_joint.json
  ros1/src/march_hardware/include/march_hardware/motor_controller/odrive/odrive.h
  ros1/src/march_hardware/include/march_hardware/motor_controller/odrive/odrive_enums.h
  ros1/src/march_hardware/include/march_hardware/motor_controller/odrive/odrive_motor.h
  ros1/src/march_hardware/src/odrive/odrive.cpp
  ros1/src/march_hardware/src/odrive/odrive_motor.cpp
  ros1/src/march_hardware_interface/src/march_hardware_interface.cpp
Due: clang tidy

updating scripts in generated_src
  ros1/src/march_acado_mpc/generated_src/acado_common.h
  ros1/src/march_acado_mpc/generated_src/acado_integrator.c
  ros1/src/march_acado_mpc/generated_src/acado_qpoases_interface.cpp
  ros1/src/march_acado_mpc/generated_src/acado_qpoases_interface.hpp
  ros1/src/march_acado_mpc/generated_src/acado_solver.c
Due: clang tidy

Path conditions:
  pep8: any of: **/*.py
  docker: any of: Dockerfile
  clang tidy: any of: **/*.{hpp,h,cpp}
