Repository JorisWeeda/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pep8, docker, clang tidy

pep8:
  stage: lint
  script:
  - cd ros1/
  - python -m autopep8 --diff -r --aggressive --aggressive --exit-code src
  - python -m flake8
  allow_failure: true

docker:
  stage: docker
  image: docker:latest
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: /certs
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  ...

clang tidy:
  needs:
  - colcon build
  stage: static_analysis
  script:
  - cd ros1/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  allow_failure: true

Add curb obstacle
  ros1/src/march_simulation/obstacles/curb.xacro
Due: none

Add failing test for semi dynamic gaits
  ros2/src/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
  ros2/src/march_gait_selection/test/nosetests/test_gait_selection.py
  ros2/src/march_gait_selection/test/nosetests/test_semi_dynamic_gait.py
Due: pep8

Bug fix in test
  ros2/src/march_gait_selection/test/nosetests/test_semi_dynamic_gait.py
Due: pep8

Clean up package structure
  ros1/.idea/libraries/ROS.xml
  ros1/.idea/libraries/workspace.xml
  ros1/.idea/modules.xml
  ros1/.idea/ros.xml
  ros1/.idea/ros1.iml
  ros1/.idea/vcs.xml
  ros1/.idea/workspace.xml
  ros1/src/march_acado_mpc/config/mpc_test.yaml
  ros1/src/march_acado_mpc/include/march_acado_mpc/mpc.h
  ros1/src/march_acado_mpc/src/controller.cpp
  ros1/src/march_acado_mpc/src/march_acado_mpc_node.cpp
  ros1/src/march_acado_mpc/src/mpc_codegen/acado_common.h
  ros1/src/march_acado_mpc/src/mpc_codegen/acado_integrator.c
  ros1/src/march_acado_mpc/src/mpc_codegen/acado_qpoases_interface.cpp
  ros1/src/march_acado_mpc/src/mpc_codegen/acado_qpoases_interface.hpp
  ros1/src/march_acado_mpc/src/mpc_codegen/acado_solver.c
  ros1/src/march_acado_mpc/src/mpc_codegen/qpoases/SRC/Bounds.o
  ros1/src/march_acado_mpc/src/mpc_codegen/qpoases/SRC/Constraints.o
  ros1/src/march_acado_mpc/src/mpc_codegen/qpoases/SRC/CyclingManager.o
  ros1/src/march_acado_mpc/src/mpc_codegen/qpoases/SRC/EXTRAS/SolutionAnalysis.o
  ros1/src/march_acado_mpc/src/mpc_codegen/qpoases/SRC/Indexlist.o
  ros1/src/march_acado_mpc/src/mpc_codegen/qpoases/SRC/MessageHandling.o
  ros1/src/march_acado_mpc/src/mpc_codegen/qpoases/SRC/QProblem.o
  ros1/src/march_acado_mpc/src/mpc_codegen/qpoases/SRC/QProblemB.o
  ros1/src/march_acado_mpc/src/mpc_codegen/qpoases/SRC/SubjectTo.o
  ros1/src/march_acado_mpc/src/mpc_codegen/qpoases/SRC/Utils.o
  ros1/src/march_acado_mpc/src/mpc_solver.c
Due: clang tidy

Fix gazebo robot model by adding inertia
  ros1/src/march_description/urdf/march4_chain.xacro
  ros1/src/march_simulation/config/effort_control/march4_chain.yaml
Due: none

adding mpc code generator code
  ros1/.idea/workspace.xml
  ros1/src/march_acado_mpc/.gitignore
  ros1/src/march_acado_mpc/mpc_gen_src/CMakeLists.txt
  ros1/src/march_acado_mpc/mpc_gen_src/FindACADO.cmake
  ros1/src/march_acado_mpc/mpc_gen_src/mpc.cpp
Due: clang tidy

Add robot arg to launch fil
  ros1/src/march_launch/launch/march.launch
Due: none

Add gait files for launching rotational joint
  ros1/src/march_gait_files/CMakeLists.txt
  ros1/src/march_gait_files/motorcontroller-test/default.yaml
  ros1/src/march_gait_files/motorcontroller-test/test_gait/perform_test/perform_test.subgait
  ros1/src/march_gait_files/motorcontroller-test/test_gait/test_gait.gait
Due: none

Add robot_description argument to launch files
  ros1/src/march_hardware/config/march_odrive.json
  ros1/src/march_hardware/config/right_hip_fe.json
  ros1/src/march_hardware/config/rotational_joint.json
  ros1/src/march_hardware_interface/config/odrive_test_joint_rotational/controllers.yaml
  ros1/src/march_hardware_interface/launch/hardware.launch
  ros1/src/march_launch/launch/march.launch
  ros1/src/march_shared_classes/src/march_shared_classes/gait/subgait.py
Due: pep8

Edit the imotioncube code such that is supports the Ingenia instead.
  ros1/src/march_hardware/include/march_hardware/ethercat/pdo_map.h
  ros1/src/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube.h
  ros1/src/march_hardware/src/ethercat/pdo_map.cpp
  ros1/src/march_hardware/src/imotioncube/imotioncube.cpp
  ros1/src/march_hardware/test/mocks/mock_imotioncube.h
Due: clang tidy

update allowed robot
  ros1/src/march_hardware_builder/include/march_hardware_builder/allowed_robot.h
Due: clang tidy

Update allowed robot file loaded
  ros1/src/march_hardware_builder/include/march_hardware_builder/allowed_robot.h
Due: clang tidy

adding qpoases to the lib directory
  ros1/src/march_acado_mpc/lib/qpoases/EXAMPLES/example1.cpp
  ros1/src/march_acado_mpc/lib/qpoases/EXAMPLES/example1b.cpp
  ros1/src/march_acado_mpc/lib/qpoases/INCLUDE/Bounds.hpp
  ros1/src/march_acado_mpc/lib/qpoases/INCLUDE/Constants.hpp
  ros1/src/march_acado_mpc/lib/qpoases/INCLUDE/Constraints.hpp
  ros1/src/march_acado_mpc/lib/qpoases/INCLUDE/CyclingManager.hpp
  ros1/src/march_acado_mpc/lib/qpoases/INCLUDE/EXTRAS/SolutionAnalysis.hpp
  ros1/src/march_acado_mpc/lib/qpoases/INCLUDE/Indexlist.hpp
  ros1/src/march_acado_mpc/lib/qpoases/INCLUDE/MessageHandling.hpp
  ros1/src/march_acado_mpc/lib/qpoases/INCLUDE/QProblem.hpp
  ros1/src/march_acado_mpc/lib/qpoases/INCLUDE/QProblemB.hpp
  ros1/src/march_acado_mpc/lib/qpoases/INCLUDE/SubjectTo.hpp
  ros1/src/march_acado_mpc/lib/qpoases/INCLUDE/Types.hpp
  ros1/src/march_acado_mpc/lib/qpoases/INCLUDE/Utils.hpp
  ros1/src/march_acado_mpc/lib/qpoases/LICENSE.txt
  ros1/src/march_acado_mpc/lib/qpoases/README.txt
  ros1/src/march_acado_mpc/lib/qpoases/SRC/Bounds.cpp
  ros1/src/march_acado_mpc/lib/qpoases/SRC/Bounds.ipp
  ros1/src/march_acado_mpc/lib/qpoases/SRC/Constraints.cpp
  ros1/src/march_acado_mpc/lib/qpoases/SRC/Constraints.ipp
  ros1/src/march_acado_mpc/lib/qpoases/SRC/CyclingManager.cpp
  ros1/src/march_acado_mpc/lib/qpoases/SRC/CyclingManager.ipp
  ros1/src/march_acado_mpc/lib/qpoases/SRC/EXTRAS/SolutionAnalysis.cpp
  ros1/src/march_acado_mpc/lib/qpoases/SRC/Indexlist.cpp
  ros1/src/march_acado_mpc/lib/qpoases/SRC/Indexlist.ipp
  ros1/src/march_acado_mpc/lib/qpoases/SRC/MessageHandling.cpp
  ros1/src/march_acado_mpc/lib/qpoases/SRC/MessageHandling.ipp
  ros1/src/march_acado_mpc/lib/qpoases/SRC/QProblem.cpp
  ros1/src/march_acado_mpc/lib/qpoases/SRC/QProblem.ipp
  ros1/src/march_acado_mpc/lib/qpoases/SRC/QProblemB.cpp
  ros1/src/march_acado_mpc/lib/qpoases/SRC/QProblemB.ipp
  ros1/src/march_acado_mpc/lib/qpoases/SRC/SubjectTo.cpp
  ros1/src/march_acado_mpc/lib/qpoases/SRC/SubjectTo.ipp
  ros1/src/march_acado_mpc/lib/qpoases/SRC/Utils.cpp
  ros1/src/march_acado_mpc/lib/qpoases/SRC/Utils.ipp
  ros1/src/march_acado_mpc/lib/qpoases/VERSIONS.txt
Due: clang tidy

Revert "Merge branch 'add-ADPF-gait' into main"
  ros1/src/march_gait_files/test_versions-v/walk/left_close/MVI_walk_leftclose_ankle_test.subgait
  ros1/src/march_gait_files/test_versions-v/walk/left_swing/MVI_walk_leftswing_ankle_test.subgait
  ros1/src/march_gait_files/test_versions-v/walk/left_swing/MVI_walk_leftswing_ankle_test_v2.subgait
  ros1/src/march_gait_files/test_versions-v/walk/right_close/MVI_walk_rightclose_ankle_test.subgait
  ros1/src/march_gait_files/test_versions-v/walk/right_open/MVI_walk_rightopen_ankle_test.subgait
  ros1/src/march_gait_files/test_versions-v/walk/right_swing/MVI_walk_rightswing_ankle_test.subgait
  ros1/src/march_gait_files/test_versions-v/walk/right_swing/MVI_walk_rightswing_ankle_test_v2.subgait
Due: none

Adding to .gitignore
  ros1/.idea/libraries/ROS.xml
  ros1/.idea/libraries/workspace.xml
  ros1/.idea/modules.xml
  ros1/.idea/ros.xml
  ros1/.idea/ros1.iml
  ros1/.idea/vcs.xml
  ros1/.idea/workspace.xml
  ros1/src/march_acado_mpc/.gitignore
Due: none

fixing pipeline errors
  ros1/src/march_acado_mpc/CMakeLists.txt
  ros1/src/march_acado_mpc/include/march_acado_mpc/acado_mpc.h
Due: clang tidy

fixing build errors
  ros1/src/march_acado_mpc/.gitignore
  ros1/src/march_acado_mpc/CMakeLists.txt
  ros1/src/march_acado_mpc/src/march_acado_mpc_node.cpp
  ros1/src/march_acado_mpc/src/mpc_code_generator/CMakeLists.txt
  ros1/src/march_acado_mpc/src/mpc_code_generator/FindACADO.cmake
  ros1/src/march_acado_mpc/src/mpc_code_generator/References/PWM.txt
  ros1/src/march_acado_mpc/src/mpc_code_generator/References/refSin.txt
  ros1/src/march_acado_mpc/src/mpc_code_generator/References/refStep.txt
  ros1/src/march_acado_mpc/src/mpc_code_generator/References/refZero.txt
  ros1/src/march_acado_mpc/src/mpc_code_generator/mpc
  ros1/src/march_acado_mpc/src/mpc_code_generator/mpc.cpp
Due: clang tidy

including qpoases in CMakeLists
  ros1/src/march_acado_mpc/CMakeLists.txt
Due: none

fixing pipeline errors
  ros1/src/march_acado_mpc/CMakeLists.txt
Due: none

fix default.yaml names and gait directories
  ros1/src/march_gait_files/test_versions-vi/curb_sdg/curb_sdg.gait
  ros1/src/march_gait_files/test_versions-vi/curb_sdg/left_close/curb_sdg_leftclose_v1.subgait
  ros1/src/march_gait_files/test_versions-vi/curb_sdg/right_open/curb_sdg_rightopen_v1.subgait
  ros1/src/march_gait_files/test_versions-vi/default.yaml
  ros1/src/march_gait_files/test_versions-vi/walk/left_close/MVI_leftclose_haa_v2.subgait
  ros1/src/march_gait_files/test_versions-vi/walk/left_close/MVI_walk_leftclose_ankle_test.subgait
  ros1/src/march_gait_files/test_versions-vi/walk/left_swing/MVI_leftswing_haa_v2.subgait
  ros1/src/march_gait_files/test_versions-vi/walk/left_swing/MVI_walk_leftswing_ankle_test.subgait
  ros1/src/march_gait_files/test_versions-vi/walk/left_swing/MVI_walk_leftswing_ankle_test_v2.subgait
  ros1/src/march_gait_files/test_versions-vi/walk/right_close/MVI_rightclose_haa_v2.subgait
  ros1/src/march_gait_files/test_versions-vi/walk/right_close/MVI_walk_rightclose_ankle_test.subgait
  ros1/src/march_gait_files/test_versions-vi/walk/right_open/MVI_rightopen_haa_v2.subgait
  ros1/src/march_gait_files/test_versions-vi/walk/right_open/MVI_walk_rightopen_ankle_test.subgait
  ros1/src/march_gait_files/test_versions-vi/walk/right_swing/MVI_rightswing_haa_v2.subgait
  ros1/src/march_gait_files/test_versions-vi/walk/right_swing/MVI_walk_rightswing_ankle_test.subgait
  ros1/src/march_gait_files/test_versions-vi/walk/right_swing/MVI_walk_rightswing_ankle_test_v2.subgait
Due: none

remove accidentally added gait files
  ros1/src/march_gait_files/test_versions-vi/walk/left_close/MVI_walk_leftclose_ankle_test_v3.subgait
  ros1/src/march_gait_files/test_versions-vi/walk/right_close/MVI_walk_rightclose_ankle_test_v3.subgait
  ros1/src/march_gait_files/test_versions-vi/walk/right_open/MVI_walk_rightopen_ankle_test_v3.subgait
Due: none

Copy simulation files
  ros2/src/march_simulation/CMakeLists.txt
  ros2/src/march_simulation/package.xml
  ros2/src/march_simulation/scripts/to_world_transform
Due: none

create a MPC class
  ros1/.idea/dictionaries/mjmtv.xml
  ros1/.idea/libraries/ROS.xml
  ros1/.idea/libraries/workspace.xml
  ros1/.idea/modules.xml
  ros1/.idea/ros.xml
  ros1/.idea/ros1.iml
  ros1/.idea/vcs.xml
  ros1/.idea/workspace.xml
  ros1/src/march_acado_mpc/CMakeLists.txt
  ros1/src/march_acado_mpc/include/march_acado_mpc/acado_mpc.h
  ros1/src/march_acado_mpc/package.xml
  ros1/src/march_acado_mpc/src/acado_mpc.cpp
  ros1/src/march_acado_mpc/src/march_acado_mpc_node.cpp
Due: clang tidy

Copy existing users of host and be more verbose
  create_environments.sh
Due: none

Create gitignored startup script in workspace
  .gitignore
  create_environments.sh
Due: none

Remove codecoverage files
  codecov.yml
  coverage.sh
Due: none

Add installation of ROS 1 on Ubuntu Bionic
  create_environments.sh
Due: none

Add create_environments.sh file that creates schroot configuration files
  create_environments.sh
Due: none

Add check if current machine is Ubuntu
  create_environments.sh
Due: none

Set hostname of bionic to ros1 for visual distinction
  create_environments.sh
Due: none

Add missing bridge dependencies
  create_environments.sh
Due: none

Build ros2 instead of installing prebuilt ros2
  .gitignore
  create_environments.sh
Due: none

Build bridge with clang
  create_environments.sh
Due: none

Add ROS 2 installer
  create_environments.sh
Due: none

Quit if script is executed as root
  create_environments.sh
Due: none

Add bridge building alias
  create_environments.sh
Due: none

Fix broken sudo executable by adding setuid bit
  create_environments.sh
Due: none

Retry when ROS 2 source import fails
  .gitignore
  create_environments.sh
  ros2/src/march_shared_classes/package.xml
  ros2/src/march_shared_classes/setup.py
Due: pep8

Path conditions:
  pep8: any of: **/*.py
  docker: any of: Dockerfile
  clang tidy: any of: **/*.{hpp,h,cpp}
