Repository JorisWeeda/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pep8, docker, clang tidy

pep8:
  stage: lint
  script:
  - cd ros1/
  - python -m autopep8 --diff -r --aggressive --aggressive --exit-code src
  - python -m flake8
  allow_failure: true

docker:
  stage: docker
  image: docker:latest
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: /certs
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  ...

clang tidy:
  needs:
  - colcon build
  stage: static_analysis
  script:
  - cd ros1/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  allow_failure: true

Add launch file voor motocotest
  ros1/src/march_launch/launch/motorcontrollor_test.launch
Due: none

adding controller_interface to package.xml
  ros1/src/march_acado_mpc/package.xml
Due: none

adding controller_interface to CMakeLists.txt
  ros1/src/march_acado_mpc/CMakeLists.txt
Due: none

introducing ros_control controller structure
  ros1/src/march_acado_mpc/CMakeLists.txt
  ros1/src/march_acado_mpc/config/model_predictive_controller.yaml
  ros1/src/march_acado_mpc/controller_plugins.xml
  ros1/src/march_acado_mpc/include/march_acado_mpc/model_predictive_controller.h
  ros1/src/march_acado_mpc/launch/march_acado_mpc.launch
  ros1/src/march_acado_mpc/package.xml
  ros1/src/march_acado_mpc/src/model_predictive_controller.cpp
Due: clang tidy

Download acado generated files from GitLab
  ros1/src/march_acado_mpc/CMakeLists.txt
Due: none

Add torque constant into calculation
  ros1/src/march_hardware/config/rotational_joint.json
  ros1/src/march_hardware/include/march_hardware/motor_controller/odrive/odrive_motor.h
  ros1/src/march_hardware/src/odrive/odrive_motor.cpp
Due: clang tidy

Use aux_source_directory instead of find glob
  ros1/src/march_acado_mpc/CMakeLists.txt
Due: none

Update world_transformer
  ros2/src/march_description/urdf/march.gazebo
  ros2/src/march_simulation/launch/march_world.launch.py
  ros2/src/march_simulation/scripts/to_world_transform
  ros2/src/march_simulation/scripts/to_world_transform.py
  ros2/src/march_simulation/scripts/upload_joint_names
  ros2/src/march_simulation/setup.py
Due: pep8

Download qpOASES with CMakeLists.txt
  ros1/src/march_acado_mpc/CMakeLists.txt
Due: none

Remove qpoases files from march_acado_mpc package
  ros1/src/march_acado_mpc/lib/qpoases/EXAMPLES/example1.cpp
  ros1/src/march_acado_mpc/lib/qpoases/EXAMPLES/example1b.cpp
  ros1/src/march_acado_mpc/lib/qpoases/INCLUDE/Bounds.hpp
  ros1/src/march_acado_mpc/lib/qpoases/INCLUDE/Constants.hpp
  ros1/src/march_acado_mpc/lib/qpoases/INCLUDE/Constraints.hpp
  ros1/src/march_acado_mpc/lib/qpoases/INCLUDE/CyclingManager.hpp
  ros1/src/march_acado_mpc/lib/qpoases/INCLUDE/EXTRAS/SolutionAnalysis.hpp
  ros1/src/march_acado_mpc/lib/qpoases/INCLUDE/Indexlist.hpp
  ros1/src/march_acado_mpc/lib/qpoases/INCLUDE/MessageHandling.hpp
  ros1/src/march_acado_mpc/lib/qpoases/INCLUDE/QProblem.hpp
  ros1/src/march_acado_mpc/lib/qpoases/INCLUDE/QProblemB.hpp
  ros1/src/march_acado_mpc/lib/qpoases/INCLUDE/SubjectTo.hpp
  ros1/src/march_acado_mpc/lib/qpoases/INCLUDE/Types.hpp
  ros1/src/march_acado_mpc/lib/qpoases/INCLUDE/Utils.hpp
  ros1/src/march_acado_mpc/lib/qpoases/LICENSE.txt
  ros1/src/march_acado_mpc/lib/qpoases/README.txt
  ros1/src/march_acado_mpc/lib/qpoases/SRC/Bounds.cpp
  ros1/src/march_acado_mpc/lib/qpoases/SRC/Bounds.ipp
  ros1/src/march_acado_mpc/lib/qpoases/SRC/Constraints.cpp
  ros1/src/march_acado_mpc/lib/qpoases/SRC/Constraints.ipp
  ros1/src/march_acado_mpc/lib/qpoases/SRC/CyclingManager.cpp
  ros1/src/march_acado_mpc/lib/qpoases/SRC/CyclingManager.ipp
  ros1/src/march_acado_mpc/lib/qpoases/SRC/EXTRAS/SolutionAnalysis.cpp
  ros1/src/march_acado_mpc/lib/qpoases/SRC/Indexlist.cpp
  ros1/src/march_acado_mpc/lib/qpoases/SRC/Indexlist.ipp
  ros1/src/march_acado_mpc/lib/qpoases/SRC/MessageHandling.cpp
  ros1/src/march_acado_mpc/lib/qpoases/SRC/MessageHandling.ipp
  ros1/src/march_acado_mpc/lib/qpoases/SRC/QProblem.cpp
  ros1/src/march_acado_mpc/lib/qpoases/SRC/QProblem.ipp
  ros1/src/march_acado_mpc/lib/qpoases/SRC/QProblemB.cpp
  ros1/src/march_acado_mpc/lib/qpoases/SRC/QProblemB.ipp
  ros1/src/march_acado_mpc/lib/qpoases/SRC/SubjectTo.cpp
  ros1/src/march_acado_mpc/lib/qpoases/SRC/SubjectTo.ipp
  ros1/src/march_acado_mpc/lib/qpoases/SRC/Utils.cpp
  ros1/src/march_acado_mpc/lib/qpoases/SRC/Utils.ipp
  ros1/src/march_acado_mpc/lib/qpoases/VERSIONS.txt
Due: clang tidy

Lowercase FetchContent in CMakeLists.txt in march_acado_mpc
  ros1/src/march_acado_mpc/CMakeLists.txt
  ros1/src/march_acado_mpc/package.xml
Due: none

Change name of scripts/ folder to march_simulation
  ros2/src/march_simulation/march_simulation/__init__.py
  ros2/src/march_simulation/march_simulation/to_world_transform.py
  ros2/src/march_simulation/setup.py
Due: pep8

Move acado_mpc.h to parent directory
  ros1/src/march_acado_mpc/include/acado_mpc.h
Due: clang tidy

Fix false positive catkin_lint errors
  .catkin_lint
  .gitlab-ci.yml
  ros1/src/march_acado_mpc/CMakeLists.txt
Due: none

created an empty joint effort controller
  ros1/src/march_acado_mpc/CMakeLists.txt
  ros1/src/march_acado_mpc/config/model_predictive_controller.yaml
  ros1/src/march_acado_mpc/controller_plugins.xml
  ros1/src/march_acado_mpc/include/march_acado_mpc/model_predictive_controller.h
  ros1/src/march_acado_mpc/launch/march_acado_mpc.launch
  ros1/src/march_acado_mpc/src/model_predictive_controller.cpp
Due: clang tidy

Add obstacle spawner
  ros2/src/march_description/urdf/march.gazebo
  ros2/src/march_description/urdf/march4.xacro
  ros2/src/march_simulation/config/effort_control/march3.yaml
  ros2/src/march_simulation/config/effort_control/march4.yaml
  ros2/src/march_simulation/config/effort_control/simple.yaml
  ros2/src/march_simulation/config/effort_control/test_joint_rotational.yaml
  ros2/src/march_simulation/config/inertia_control/march4.yaml
  ros2/src/march_simulation/launch/gazebo_launch.launch.py
  ros2/src/march_simulation/launch/march_world.launch.py
  ros2/src/march_simulation/march_simulation/spawn_obstacle.py
  ros2/src/march_simulation/setup.py
Due: pep8

add first version of the new steep ramp up gait
  ros1/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_close/MV_RD_slopeup_leftclose_steep_v1.subgait
  ros1/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_open/MVI_RD_slopeup_leftopen_steep_v1.subgait
  ros1/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_swing/MVI_RD_slopeup_leftswing_steep_v1.subgait
  ros1/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_close/MV_RD_slopeup_rightclose_steep_v1.subgait
  ros1/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_open/MVI_RD_slopeup_rightopen_steep_v1.subgait
  ros1/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_swing/MVI_RD_slopeup_rightswing_steep_v1.subgait
Due: none

adding trajectory_mpc
  ros1/src/march_acado_mpc/CMakeLists.txt
  ros1/src/march_acado_mpc/controller_plugins.xml
  ros1/src/march_acado_mpc/include/march_acado_mpc/trajectory_mpc.h
  ros1/src/march_acado_mpc/package.xml
  ros1/src/march_acado_mpc/src/trajectory_mpc.cpp
Due: clang tidy

update subgait generator
  ros1/src/march_gait_files/motorcontroller-test/test_gait/perform_test/version_0.subgait
  ros1/src/march_motorcontroller_test/src/march_motorcontroller_test/subgait_generator.py
Due: pep8

Override default values for simulation
  ros2/src/march_simulation/launch/march_world.launch.py
Due: pep8

fix names and subgait order
  ros1/src/gaits/march_gait_files/test_versions-vi/default.yaml
  ros1/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_close/MVI_RD_slopeup_leftclose_steep_v1.subgait
  ros1/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/ramp_door_slope_up.gait
  ros1/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_close/MVI_RD_slopeup_rightclose_steep_v1.subgait
Due: none

Update package.xml
  ros1/src/march_simulation/config/effort_control/simple.yaml
  ros2/src/march_simulation/config/effort_control/simple.yaml
  ros2/src/march_simulation/launch/march_world.launch.py
  ros2/src/march_simulation/package.xml
Due: pep8

Add position xacro and config files
  ros2/src/march_description/urdf/march.gazebo
  ros2/src/march_description/urdf/march4_position.xacro
  ros2/src/march_description/urdf/test_joint_rotational_position.xacro
  ros2/src/march_simulation/config/effort_control/march3.yaml
  ros2/src/march_simulation/config/effort_control/test_joint_rotational.yaml
  ros2/src/march_simulation/config/inertia_control/march4.yaml
  ros2/src/march_simulation/config/position_control/march4.yaml
  ros2/src/march_simulation/config/position_control/test_joint_rotational.yaml
  ros2/src/march_simulation/march_simulation/example_joint_trajectory.py
  ros2/src/march_simulation/setup.py
Due: pep8

Refactor simulation launch file
  ros2/src/march_simulation/launch/gazebo_launch.launch.py
  ros2/src/march_simulation/launch/march_world.launch.py
Due: pep8

adding simple P controller for testing purposes
  ros1/src/march_acado_mpc/include/march_acado_mpc/trajectory_mpc.h
Due: clang tidy

Update trajectory scheduler to use actions
  ros2/src/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
  ros2/src/march_simulation/config/position_control/march4.yaml
  ros2/src/march_simulation/config/position_control/test_joint_rotational.yaml
Due: pep8

Include updated simulation in existing launch file
  ros2/src/march_launch/launch/march_ros2_simulation.launch.py
Due: pep8

let exo lean forward more
  ros1/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_close/MVI_RD_slopeup_leftclose_steep_v1.subgait
  ros1/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_swing/MVI_RD_slopeup_leftswing_steep_v1.subgait
  ros1/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_close/MVI_RD_slopeup_rightclose_steep_v1.subgait
  ros1/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_open/MVI_RD_slopeup_rightopen_steep_v1.subgait
  ros1/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_swing/MVI_RD_slopeup_rightswing_steep_v1.subgait
Due: none

add experimental v2
  ros1/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_close/MVI_RD_slopeup_leftclose_steep_v2.subgait
  ros1/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_open/MVI_RD_slopeup_leftopen_steep_v2.subgait
  ros1/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_swing/MVI_RD_slopeup_leftswing_steep_v2.subgait
  ros1/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_close/MVI_RD_slopeup_rightclose_steep_v2.subgait
  ros1/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_open/MVI_RD_slopeup_rightopen_steep_v2.subgait
  ros1/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_swing/MVI_RD_slopeup_rightswing_steep_v2.subgait
Due: none

add latest versions to default
  ros1/src/gaits/march_gait_files/test_versions-vi/default.yaml
Due: none

Revert "Merge branch 'epic-parametric-gais-foot-location' into add-flat-ramp-up-gait"
  ros1/src/gaits/march_gait_files/test_versions-vi/default.yaml
  ros1/src/march_gait_files/test_versions-v/ik_test/ik_test.gait
  ros1/src/march_gait_files/test_versions-v/ik_test/swing/backward_swing.subgait
  ros1/src/march_gait_files/test_versions-v/ik_test/swing/forward_swing.subgait
  ros1/src/march_shared_classes/src/march_shared_classes/gait/feet_state.py
  ros1/src/march_shared_classes/src/march_shared_classes/gait/foot.py
  ros1/src/march_shared_classes/src/march_shared_classes/gait/utilities.py
  ros1/src/march_shared_classes/src/march_shared_classes/gait/vector_3d.py
  ros1/src/march_shared_classes/test/resources/ik_test/ik_test.gait
  ros1/src/march_shared_classes/test/resources/ik_test/swing/backward_swing.subgait
  ros1/src/march_shared_classes/test/resources/ik_test/swing/forward_swing.subgait
  ros1/src/shared/march_shared_classes/src/march_shared_classes/exceptions/gait_exceptions.py
  ros1/src/shared/march_shared_classes/src/march_shared_classes/gait/joint_trajectory.py
  ros1/src/shared/march_shared_classes/src/march_shared_classes/gait/setpoint.py
  ros1/src/shared/march_shared_classes/src/march_shared_classes/gait/subgait.py
  ros1/src/shared/march_shared_classes/test/resources/default.yaml
  ros1/src/shared/march_shared_classes/test/setpoint_test.py
  ros1/src/shared/march_shared_classes/test/subgait_test.py
  ros1/src/visualization/march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
Due: pep8

Add local changse
  ros1/src/march_hardware/config/rotational_joint.json
  ros1/src/march_hardware/include/march_hardware/motor_controller/odrive/odrive_motor.h
  ros1/src/march_hardware/src/odrive/odrive_motor.cpp
  ros1/src/march_hardware_builder/robots/odrive_test_joint_rotational.yaml
  ros1/src/march_hardware_interface/config/odrive_test_joint_rotational/controllers.yaml
  ros1/src/march_hardware_interface/config/test_joint_rotational/controllers.yaml
  ros1/src/march_joint_inertia_controller/include/march_joint_inertia_controller/inertia_estimator.h
  ros1/src/march_joint_inertia_controller/src/inertia_estimator_node.cpp
Due: clang tidy

move CoM forward better
  ros1/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_swing/MVI_RD_slopeup_leftswing_steep_v2.subgait
  ros1/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_swing/MVI_RD_slopeup_rightswing_steep_v2.subgait
  ros1/src/simulation/march_simulation/obstacles/ramp_and_door.xacro
Due: none

Change order of setting control mode
  ros1/src/march_description/urdf/test_joint_rotational.xacro
  ros1/src/march_gait_files/motorcontroller-test/test_gait/perform_test/version_0.subgait
  ros1/src/march_hardware/config/rotational_joint.json
  ros1/src/march_hardware/include/march_hardware/motor_controller/odrive/odrive_motor.h
  ros1/src/march_hardware/src/odrive/odrive_motor.cpp
Due: clang tidy

Implement basic long freeze functionality
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
  ros2/src/march_gait_selection/march_gait_selection/state_machine/semi_dynamic_setpoints_gait.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/joint_trajectory.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/subgait.py
  ros2/src/visualization/march_rqt_input_device/march_rqt_input_device/input_device_controller.py
  ros2/src/visualization/march_rqt_input_device/march_rqt_input_device/input_device_view.py
Due: pep8

Add curb obstacle in simulation
  ros1/src/march_simulation/obstacles/curb.xacro
Due: none

Change freeze to dynamic gait and right foot
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/state_machine/gait_interface.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/home_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
  ros2/src/march_gait_selection/march_gait_selection/state_machine/semi_dynamic_setpoints_gait.py
  ros2/src/visualization/march_rqt_input_device/march_rqt_input_device/input_device_view.py
Due: pep8

Clean up freezing code
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/state_machine/gait_interface.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/home_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
  ros2/src/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/joint_trajectory.py
  ros2/src/visualization/march_rqt_input_device/march_rqt_input_device/input_device_controller.py
  ros2/src/visualization/march_rqt_input_device/march_rqt_input_device/input_device_view.py
Due: pep8

Add curb obstacle
  ros1/src/march_simulation/obstacles/curb.xacro
Due: none

Add failing test for semi dynamic gaits
  ros1/src/gaits/march_gait_selection/test/nosetests/test_gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
  ros2/src/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/march_gait_selection/test/nosetests/test_semi_dynamic_gait.py
Due: pep8

Path conditions:
  pep8: any of: **/*.py
  docker: any of: Dockerfile
  clang tidy: any of: **/*.{hpp,h,cpp}
