Repository JorisWeeda/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pep8, docker, clang tidy

pep8:
  stage: lint
  script:
  - cd ros1/
  - python -m autopep8 --diff -r --aggressive --aggressive --exit-code src
  - python -m flake8
  allow_failure: true

docker:
  stage: docker
  image: docker:latest
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: /certs
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  ...

clang tidy:
  needs:
  - colcon build
  stage: static_analysis
  script:
  - cd ros1/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  allow_failure: true

Bug fix in test
  ros2/src/march_gait_selection/test/nosetests/test_semi_dynamic_gait.py
Due: pep8

Fix duplication of xacro files
  ros2/src/shared/march_description/CMakeLists.txt
Due: none

Add curb gait and fix destroying the node
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
  ros2/src/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/visualization/march_rqt_input_device/march_rqt_input_device/input_device_view.py
Due: pep8

Some small improvements to make the pressure sole thinner
  ros1/src/shared/march_description/urdf/march4.xacro
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
Due: pep8

Add temporary logging and use actual positions
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/state_machine/gait_interface.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/home_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
  ros2/src/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/joint_trajectory.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/subgait.py
Due: pep8

Change force to use sum instead of 1 point
  ros1/src/gaits/march_gait_files/test_versions-vi/curb_sdg/right_open/curb_sdg_rightopen_v1.subgait
  ros1/src/gaits/march_gait_files/test_versions-vi/default.yaml
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
Due: pep8

Update the subgait names to be more suitable for the CoM controller
  ros1/src/simulation/march_gazebo_plugins/src/obstacle_controller.cpp
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/joint_trajectory.py
Due: pep8, clang tidy

Change CoM controller for debugging
  ros1/src/simulation/march_gazebo_plugins/src/obstacle_controller.cpp
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
Due: pep8, clang tidy

Fix some problems caused by rebase
  ros1/src/gaits/march_gait_files/test_versions-vi/curb_sdg/right_open/curb_sdg_rightopen_v1.subgait
  ros1/src/simulation/march_gazebo_plugins/src/obstacle_controller.cpp
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_interface.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/test/nosetests/test_semi_dynamic_gait.py
Due: pep8, clang tidy

fixing library issues
  ros1/src/march_acado_mpc/CMakeLists.txt
  ros1/src/march_acado_mpc/config/model_predictive_controller.yaml
  ros1/src/march_acado_mpc/generated_src/acado_common.h
  ros1/src/march_acado_mpc/generated_src/acado_integrator.c
  ros1/src/march_acado_mpc/generated_src/acado_qpoases_interface.cpp
  ros1/src/march_acado_mpc/generated_src/acado_qpoases_interface.hpp
  ros1/src/march_acado_mpc/generated_src/acado_solver.c
  ros1/src/march_acado_mpc/include/acado_mpc.h
  ros1/src/march_acado_mpc/include/march_acado_mpc/acado_mpc.h
  ros1/src/march_acado_mpc/include/march_acado_mpc/model_predictive_controller.h
  ros1/src/march_acado_mpc/include/trajectory_mpc.h
  ros1/src/march_acado_mpc/src/acado_mpc.cpp
  ros1/src/march_acado_mpc/src/march_acado_mpc_node.cpp
  ros1/src/march_acado_mpc/src/model_predictive_controller.cpp
Due: clang tidy

Weaken tolerance and controller to see why goal is not achieved
  ros1/src/simulation/march_gazebo_plugins/include/march_gazebo_plugins/obstacle_controller.h
  ros1/src/simulation/march_gazebo_plugins/src/obstacle_controller.cpp
  ros1/src/simulation/march_gazebo_plugins/src/walk_controller.cpp
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
Due: pep8, clang tidy

Small bug fix in higher tolerance
  ros1/src/simulation/march_gazebo_plugins/src/obstacle_controller.cpp
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
Due: pep8, clang tidy

Correct CoM of all links with respect to new origin
  ros1/src/march_description/urdf/march4_chain.xacro
Due: none

Add final changes
  ros1/src/march_description/urdf/test_joint_rotational.xacro
  ros1/src/march_gait_files/motorcontroller-test/test_gait/perform_test/version_0.subgait
  ros1/src/march_gait_files/motorcontroller-test/test_gait/perform_test/version_velocity.subgait
  ros1/src/march_gait_files/motorcontroller-test/test_gait/perform_test/version_velocity_10.subgait
  ros1/src/march_gait_files/motorcontroller-test/test_gait/perform_test/version_velocity_125.subgait
  ros1/src/march_gait_files/motorcontroller-test/test_gait/perform_test/version_velocity_3.subgait
  ros1/src/march_gait_files/motorcontroller-test/test_gait/perform_test/version_velocity_4.subgait
  ros1/src/march_gait_files/motorcontroller-test/test_gait/perform_test/version_velocity_5.subgait
  ros1/src/march_gait_files/motorcontroller-test/test_gait/perform_test/version_velocity_75.subgait
  ros1/src/march_hardware/CMakeLists.txt
  ros1/src/march_hardware/config/rotational_joint.json
  ros1/src/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube.h
  ros1/src/march_hardware/include/march_hardware/motor_controller/motor_controller.h
  ros1/src/march_hardware/include/march_hardware/motor_controller/motor_controller_states.h
  ros1/src/march_hardware/include/march_hardware/motor_controller/odrive/odrive.h
  ros1/src/march_hardware/include/march_hardware/motor_controller/odrive/odrive_motor.h
  ros1/src/march_hardware/src/imotioncube/imotioncube.cpp
  ros1/src/march_hardware/src/odrive/odrive.cpp
  ros1/src/march_hardware/src/odrive/odrive_motor.cpp
  ros1/src/march_hardware/test/imotioncube/imotioncube_test.cpp
  ros1/src/march_hardware/test/mocks/mock_imotioncube.h
  ros1/src/march_hardware/test/mocks/mock_motor_controller.h
  ros1/src/march_hardware_interface/src/march_hardware_interface.cpp
  ros1/src/march_joint_inertia_controller/include/march_joint_inertia_controller/inertia_estimator.h
  ros1/src/march_motorcontroller_test/src/march_motorcontroller_test/subgait_generator.py
  ros1/src/march_shared_resources/msg/MotorControllerState.msg
Due: pep8, clang tidy

increase max effort and max velocity joints test
  ros1/src/shared/march_description/urdf/march4.xacro
Due: none

increase max vel rotational joints :
  ros1/src/shared/march_description/urdf/march4.xacro
Due: none

Add rviz2 launching
  ros2/src/march_launch/launch/march_ros2_simulation.launch.py
  ros2/src/simulation/march_simulation/launch/march_world.launch.py
  ros2/src/simulation/march_simulation/march_simulation/example_joint_trajectory.py
  ros2/src/simulation/march_simulation/rviz/default.rviz
  ros2/src/simulation/march_simulation/setup.py
Due: pep8

Add robot_state gazebo plugin
  ros2/src/simulation/march_simulation/worlds/march.world
Due: none

Fix WorldTransformer
  ros2/src/simulation/march_simulation/launch/march_world.launch.py
  ros2/src/simulation/march_simulation/march_simulation/to_world_transform.py
  ros2/src/simulation/march_simulation/setup.py
Due: pep8

Remove example_joint_trajectory file
  ros2/src/simulation/march_simulation/march_simulation/example_joint_trajectory.py
Due: pep8

Start with migrating set_obstacle_dimensions to Ros2
  ros2/src/shared/march_shared_msgs/CMakeLists.txt
  ros2/src/shared/march_shared_msgs/srv/SetObstacleSize.srv
  ros2/src/simulation/march_simulation/launch/march_world.launch.py
  ros2/src/simulation/march_simulation/march_simulation/set_obstacle_dimensions.py
  ros2/src/simulation/march_simulation/march_simulation/to_world_transform.py
  ros2/src/simulation/march_simulation/setup.py
Due: pep8

Fix setting obstacles dimensions
  ros2/src/simulation/march_simulation/march_simulation/set_obstacle_dimensions.py
Due: pep8

Create separate urdf for rviz and gazebo
  ros2/src/shared/march_description/urdf/march4_position_gazebo.xacro
  ros2/src/simulation/march_simulation/launch/march_world.launch
Due: none

add rviz xacro file
  ros2/src/shared/march_description/urdf/march4_position_rviz.xacro
Due: none

Add subgait generator from branch 479
  ros2/src/gaits/march_testjoint_gait_generator/march_testjoint_gait_generator/__init__.py
  ros2/src/gaits/march_testjoint_gait_generator/march_testjoint_gait_generator/testjoint_gait_generator.py
  ros2/src/gaits/march_testjoint_gait_generator/package.xml
  ros2/src/gaits/march_testjoint_gait_generator/resource/march_testjoint_gait_generator
  ros2/src/gaits/march_testjoint_gait_generator/setup.py
Due: pep8

Clean up freeze functionality
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/home_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/joint_trajectory.py
Due: pep8

Fix and remove all unnecessary logging
  ros1/src/simulation/march_gazebo_plugins/include/march_gazebo_plugins/obstacle_controller.h
  ros1/src/simulation/march_gazebo_plugins/include/march_gazebo_plugins/walk_controller.h
  ros1/src/simulation/march_gazebo_plugins/src/obstacle_controller.cpp
  ros1/src/simulation/march_gazebo_plugins/src/walk_controller.cpp
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/gaits/march_gait_selection/test/nosetests/test_semi_dynamic_gait.py
Due: pep8, clang tidy

Fix problem caused by merge conflict in ros1 tests
  ros1/src/gaits/march_gait_selection/test/nosetests/test_gait_selection.py
Due: pep8

Fix ros2 tests
  ros2/src/gaits/march_gait_selection/test/nosetests/test_gait_selection.py
  ros2/src/gaits/march_gait_selection/test/nosetests/test_semi_dynamic_gait.py
Due: pep8

Add gait and subgait generation
  ros2/src/gaits/march_test_joint_gait_generator/launch/test_joint_gait_generator.launch.py
  ros2/src/gaits/march_test_joint_gait_generator/march_test_joint_gait_generator/__init__.py
  ros2/src/gaits/march_test_joint_gait_generator/march_test_joint_gait_generator/test_joint_gait_generator.py
  ros2/src/gaits/march_test_joint_gait_generator/package.xml
  ros2/src/gaits/march_test_joint_gait_generator/resource/march_test_joint_gait_generator
  ros2/src/gaits/march_test_joint_gait_generator/setup.cfg
  ros2/src/gaits/march_test_joint_gait_generator/setup.py
  ros2/src/gaits/march_testjoint_gait_generator/march_testjoint_gait_generator/testjoint_gait_generator.py
Due: pep8

Add newline for fixing flake8 warning
  ros1/src/gaits/march_gait_selection/test/nosetests/test_gait_selection.py
Due: pep8

Copy march_imu_manager to ros2
  ros2/src/hardware/drivers/march_imu_manager/CMakeLists.txt
  ros2/src/hardware/drivers/march_imu_manager/include/march_imu_manager/mtw.h
  ros2/src/hardware/drivers/march_imu_manager/include/march_imu_manager/wireless_master.h
  ros2/src/hardware/drivers/march_imu_manager/package.xml
  ros2/src/hardware/drivers/march_imu_manager/src/main.cpp
  ros2/src/hardware/drivers/march_imu_manager/src/mtw.cpp
  ros2/src/hardware/drivers/march_imu_manager/src/wireless_master.cpp
  ros2/src/hardware/drivers/march_imu_manager/test/wireless_master_test.cpp
Due: clang tidy

Add example subgait
  ros1/src/gaits/march_gait_files/default.yaml
  ros1/src/gaits/march_gait_files/test_joint_gaits/default.yaml
  ros1/src/gaits/march_gait_files/test_joint_gaits/test_joint_gait/perform_test/example.subgait
  ros1/src/gaits/march_gait_files/test_joint_gaits/test_joint_gait/perform_test/version_0.subgait
  ros1/src/gaits/march_gait_files/test_joint_gaits/test_joint_gait/test_joint_gait.gait
  ros2/src/gaits/march_test_joint_gait_generator/launch/test_joint_gait_generator.launch.py
  ros2/src/gaits/march_test_joint_gait_generator/march_test_joint_gait_generator/test_joint_gait_generator.py
Due: pep8

Add basic working version of realsense camera
  ros1/src/march_gazebo_plugins/src/RealSensePlugin.cpp
  ros1/src/shared/march_description/CMakeLists.txt
  ros1/src/shared/march_description/package.xml
  ros1/src/shared/march_description/urdf/march4_with_koen_lengths.xacro
  ros1/src/simulation/march_gazebo_plugins/CMakeLists.txt
  ros1/src/simulation/march_gazebo_plugins/package.xml
  ros1/src/simulation/march_simulation/launch/march_world.launch
Due: clang tidy

Path conditions:
  pep8: any of: **/*.py
  docker: any of: Dockerfile
  clang tidy: any of: **/*.{hpp,h,cpp}
