Repository JorisWeeda/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pep8, clang tidy

.gitlab-ci.yml:

stages:
  - approval
  - docker
  - lint
  - build
  - test
  - static_analysis

image: registry.gitlab.com/project-march/march:latest

cache:
  key: "${CI_JOB_NAME}"
  paths:
    - ccache

colcon build:
  stage: build
  artifacts:
    paths:
      - build/
      - install/
      - log/
  script:
    - colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" "-DENABLE_COVERAGE_TESTING=ON" "-DCMAKE_BUILD_TYPE=Debug" --event-handlers console_direct+

colcon test:
  stage: test
  dependencies:
    - colcon build
  script:
    - source install/setup.bash && colcon test --event-handlers console_direct+
    - colcon test-result --verbose
    - gcovr --exclude 'src/march_imu_manager/lib/' --exclude 'src/.*/test/' --exclude 'install/'

catkin_lint:
  stage: lint
  script:
    - catkin_lint -W1 --strict src

pep8:
  stage: lint
  script:
    - python -m autopep8 --diff -r --aggressive --aggressive --exit-code src
    - python -m flake8
  only:
    changes:
      - "**/*.py"
  allow_failure: true


gitlab-ci.yml changed:
  stage: approval
  image: alpine:latest
  script:
    - echo "Approved!"
  rules:
    - changes:
        - ".gitlab-ci.yml"
      when: manual
      allow_failure: false

docker:
  stage: docker
  image: docker:latest
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: "/certs"
  services:
    - docker:dind
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker build -t registry.gitlab.com/project-march/march .
    - docker push registry.gitlab.com/project-march/march
  rules:
    - changes:
        - Dockerfile
      when: manual
      allow_failure: false

clang tidy:
  needs: ["colcon build"]
  stage: static_analysis
  script:
    - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  only:
    changes:
      - "**/*.{hpp,h,cpp}"
  allow_failure: true

Create example node
  ros2/src/march_example_node/launch/march_example_node.launch.py
  ros2/src/march_example_node/package.xml
  ros2/src/march_example_node/resource/march_example_node
  ros2/src/march_example_node/setup.cfg
  ros2/src/march_example_node/setup.py
  ros2/src/march_example_node/src/__init__.py
  ros2/src/march_example_node/src/march_example_node.py
Due: pep8

Add ros1 parameter server
  ros1/src/march_parameter_server/CMakeLists.txt
  ros1/src/march_parameter_server/launch/march_parameter_server.launch
  ros1/src/march_parameter_server/package.xml
  ros1/src/march_parameter_server/scripts/march_parameter_server_node
  ros1/src/march_parameter_server/setup.py
  ros1/src/march_parameter_server/src/march_parameter_server/__init__.py
  ros1/src/march_parameter_server/src/march_parameter_server/parameter_server_node.py
  ros1/src/march_shared_resources/CMakeLists.txt
  ros1/src/march_shared_resources/srv/RequestParamBool.srv
  ros1/src/march_shared_resources/srv/RequestParamFloat.srv
  ros1/src/march_shared_resources/srv/RequestParamInt.srv
  ros1/src/march_shared_resources/srv/RequestParamList.srv
  ros1/src/march_shared_resources/srv/RequestParamString.srv
  ros1/src/march_shared_resources/srv/SetParamFloat.srv
  ros2/src/march_shared_msgs/CMakeLists.txt
  ros2/src/march_shared_msgs/srv/RequestParamBool.srv
  ros2/src/march_shared_msgs/srv/RequestParamFloat.srv
  ros2/src/march_shared_msgs/srv/RequestParamInt.srv
  ros2/src/march_shared_msgs/srv/RequestParamList.srv
  ros2/src/march_shared_msgs/srv/RequestParamString.srv
  ros2/src/march_shared_msgs/srv/SetParamFloat.srv
Due: pep8

Start with gain scheduling ROS2
  ros2/src/march_gain_scheduling/config/groundgait.yaml
  ros2/src/march_gain_scheduling/config/sjaan_gait.yaml
  ros2/src/march_gain_scheduling/config/test_joint_linear.yaml
  ros2/src/march_gain_scheduling/config/test_joint_rotational.yaml
  ros2/src/march_gain_scheduling/launch/march_gain_scheduling.launch.py
  ros2/src/march_gain_scheduling/march_gain_scheduling/__init__.py
  ros2/src/march_gain_scheduling/march_gain_scheduling/dynamic_pid_reconfigurer.py
  ros2/src/march_gain_scheduling/march_gain_scheduling/gain_scheduling_node.py
  ros2/src/march_gain_scheduling/march_gain_scheduling/interpolation_errors.py
  ros2/src/march_gain_scheduling/march_gain_scheduling/one_step_linear_interpolation.py
  ros2/src/march_gain_scheduling/package.xml
  ros2/src/march_gain_scheduling/resource/march_gain_scheduling
  ros2/src/march_gain_scheduling/setup.cfg
  ros2/src/march_gain_scheduling/setup.py
  ros2/src/march_gain_scheduling/test/one_step_linear_interpolation_test.py
Due: pep8

written the most beautiful essay ever
  ros1/src/bussen.txt
Due: none

Add getters and setters for each basic type of parameter
  ros1/src/march_parameter_server/src/march_parameter_server/parameter_server_node.py
  ros1/src/march_shared_resources/CMakeLists.txt
  ros1/src/march_shared_resources/srv/GetParamBool.srv
  ros1/src/march_shared_resources/srv/GetParamFloat.srv
  ros1/src/march_shared_resources/srv/GetParamInt.srv
  ros1/src/march_shared_resources/srv/GetParamString.srv
  ros1/src/march_shared_resources/srv/GetParamStringList.srv
  ros1/src/march_shared_resources/srv/SetParamBool.srv
  ros1/src/march_shared_resources/srv/SetParamFloat.srv
  ros1/src/march_shared_resources/srv/SetParamInt.srv
  ros1/src/march_shared_resources/srv/SetParamString.srv
  ros1/src/march_shared_resources/srv/SetParamStringList.srv
  ros2/src/march_shared_msgs/CMakeLists.txt
  ros2/src/march_shared_msgs/srv/GetParamBool.srv
  ros2/src/march_shared_msgs/srv/GetParamFloat.srv
  ros2/src/march_shared_msgs/srv/GetParamInt.srv
  ros2/src/march_shared_msgs/srv/GetParamString.srv
  ros2/src/march_shared_msgs/srv/GetParamStringList.srv
  ros2/src/march_shared_msgs/srv/SetParamBool.srv
  ros2/src/march_shared_msgs/srv/SetParamFloat.srv
  ros2/src/march_shared_msgs/srv/SetParamInt.srv
  ros2/src/march_shared_msgs/srv/SetParamString.srv
  ros2/src/march_shared_msgs/srv/SetParamStringList.srv
Due: pep8

Add deadlocking gain_scheduling_node
  ros1/src/march_parameter_server/src/march_parameter_server/parameter_server_node.py
  ros2/src/march_gain_scheduling/config/groundgait.yaml
  ros2/src/march_gain_scheduling/launch/march_gain_scheduling.launch.py
  ros2/src/march_gain_scheduling/march_gain_scheduling/dynamic_pid_reconfigurer.py
  ros2/src/march_gain_scheduling/march_gain_scheduling/gain_scheduling_node.py
  ros2/src/march_gain_scheduling/setup.py
Due: pep8

Add collision and visual of left leg in chain structure
  src/march_description/urdf/march4_chain.xacro
Due: none

Add robot command line argument
  src/march_launch/launch/march.launch
Due: none

move xacro file
  ros1/src/march_description/urdf/march4_chain.xacro
Due: none

Fix launch file s.t. it is no longer necessary to provide the full path to the config file
  ros2/src/march_gain_scheduling/config/sjaan_gait.yaml
  ros2/src/march_gain_scheduling/config/test_joint_linear.yaml
  ros2/src/march_gain_scheduling/config/test_joint_rotational.yaml
  ros2/src/march_gain_scheduling/launch/march_gain_scheduling.launch.py
  ros2/src/march_gain_scheduling/setup.py
Due: pep8

Update gain scheduling node to use multithreading for loading gains
  ros2/src/march_gain_scheduling/launch/march_gain_scheduling.launch.py
  ros2/src/march_gain_scheduling/march_gain_scheduling/dynamic_pid_reconfigurer.py
  ros2/src/march_gain_scheduling/march_gain_scheduling/gain_scheduling_node.py
  ros2/src/march_launch/launch/march_ros2_simulation.launch.py
Due: pep8

Remove loading from init
  ros2/src/march_gain_scheduling/march_gain_scheduling/dynamic_pid_reconfigurer.py
  ros2/src/march_launch/launch/march_ros2_simulation.launch.py
Due: pep8

Add new message and service to communicate gains for multiple joints at once
  ros1/src/march_parameter_server/src/march_parameter_server/parameter_server_node.py
  ros1/src/march_shared_resources/CMakeLists.txt
  ros1/src/march_shared_resources/msg/GainValues.msg
  ros1/src/march_shared_resources/srv/GetGainValues.srv
  ros1/src/march_shared_resources/srv/GetGainValuesList.srv
  ros2/src/march_gain_scheduling/march_gain_scheduling/dynamic_pid_reconfigurer.py
  ros2/src/march_shared_msgs/CMakeLists.txt
  ros2/src/march_shared_msgs/msg/GainValues.msg
  ros2/src/march_shared_msgs/srv/GetGainValues.srv
  ros2/src/march_shared_msgs/srv/GetGainValuesList.srv
Due: pep8

add first versions of open and swing subgait for new stair gait with IK
  ros1/src/march_gait_files/test_versions-v/stairs_up/left_swing/MVI_stairs_IK.subgait
  ros1/src/march_gait_files/test_versions-v/stairs_up/right_open/MVI_stairs_IK.subgait
  ros1/src/march_gait_files/test_versions-v/stairs_up/right_swing/MVI_stairs_IK.subgait
Due: none

Remover old parameter server
  ros1/src/march_parameter_server/CMakeLists.txt
  ros1/src/march_parameter_server/launch/march_parameter_server.launch
  ros1/src/march_parameter_server/package.xml
  ros1/src/march_parameter_server/scripts/march_parameter_server_node
  ros1/src/march_parameter_server/setup.py
  ros1/src/march_parameter_server/src/march_parameter_server/__init__.py
  ros1/src/march_parameter_server/src/march_parameter_server/parameter_server_node.py
  ros2/src/march_example_node/launch/march_example_node.launch.py
  ros2/src/march_example_node/package.xml
  ros2/src/march_example_node/resource/march_example_node
  ros2/src/march_example_node/setup.cfg
  ros2/src/march_example_node/setup.py
  ros2/src/march_example_node/src/__init__.py
  ros2/src/march_example_node/src/march_example_node.py
  ros2/src/march_shared_msgs/srv/GetGainValuesList.srv
Due: pep8

Add different message and service types to see what works on the bridge
  ros1/src/march_shared_resources/CMakeLists.txt
  ros1/src/march_shared_resources/msg/GainValuesList.msg
  ros1/src/march_shared_resources/srv/GetGainValues2.srv
  ros1/src/march_shared_resources/srv/GetGainValues3.srv
  ros1/src/march_shared_resources/srv/SetGainValues.srv
  ros2/src/march_shared_msgs/CMakeLists.txt
  ros2/src/march_shared_msgs/msg/GainValuesList.msg
  ros2/src/march_shared_msgs/srv/GetGainValues.srv
  ros2/src/march_shared_msgs/srv/GetGainValues2.srv
  ros2/src/march_shared_msgs/srv/GetGainValues3.srv
  ros2/src/march_shared_msgs/srv/SetGainValues.srv
Due: none

add a stair gait version which works in simulation
  ros1/src/march_gait_files/test_versions-v/default.yaml
  ros1/src/march_gait_files/test_versions-v/stairs_up/left_close/MVI_stairs_IK.subgait
  ros1/src/march_gait_files/test_versions-v/stairs_up/right_close/MVI_stairs_IK.subgait
  ros1/src/march_gait_files/test_versions-v/stairs_up/right_open/MVI_stairs_IK.subgait
  ros1/src/march_gait_files/test_versions-v/stairs_up/right_swing/MVI_stairs_IK.subgait
Due: none

Attempt to load new urdf in gazebo
  ros1/src/march_description/CMakeLists.txt
  ros1/src/march_launch/launch/upload_march_urdf.launch
Due: none

Change interpolation to use numpy instead of nested for loops
  ros2/src/march_gain_scheduling/march_gain_scheduling/interpolation_errors.py
  ros2/src/march_gain_scheduling/march_gain_scheduling/one_step_linear_interpolation.py
  ros2/src/march_gain_scheduling/setup.py
Due: pep8

Use ugly method of cancelling old callbacks when a new callback is called
  ros2/src/march_gain_scheduling/march_gain_scheduling/dynamic_pid_reconfigurer.py
Due: pep8

Simplify callback to only set needed_gains
  ros1/src/march_parameter_server/src/march_parameter_server/parameter_server_node.py
  ros1/src/march_shared_resources/CMakeLists.txt
  ros1/src/march_shared_resources/srv/GetGainValues.srv
  ros1/src/march_shared_resources/srv/GetGainValuesList.srv
  ros1/src/march_shared_resources/srv/SetGainValues.srv
  ros1/src/march_shared_resources/srv/SetGainValuesList.srv
  ros2/src/march_gain_scheduling/march_gain_scheduling/dynamic_pid_reconfigurer.py
  ros2/src/march_gain_scheduling/march_gain_scheduling/gain_scheduling_node.py
  ros2/src/march_gain_scheduling/march_gain_scheduling/one_step_linear_interpolation.py
  ros2/src/march_gain_scheduling/package.xml
  ros2/src/march_gain_scheduling/setup.py
  ros2/src/march_gain_scheduling/test/one_step_linear_interpolation_test.py
  ros2/src/march_launch/launch/march_ros2_simulation.launch.py
  ros2/src/march_shared_msgs/CMakeLists.txt
  ros2/src/march_shared_msgs/srv/GetGainValues.srv
  ros2/src/march_shared_msgs/srv/GetGainValuesList.srv
  ros2/src/march_shared_msgs/srv/SetGainValues.srv
  ros2/src/march_shared_msgs/srv/SetGainValuesList.srv
Due: pep8

adding new package
  ros1/src/march_acado_mpc/CMakeLists.txt
  ros1/src/march_acado_mpc/package.xml
Due: none

cleanup the CMakeLists file
  ros1/src/march_acado_mpc/CMakeLists.txt
Due: none

fix pipeline fail
  ros1/src/march_acado_mpc/package.xml
Due: none

Resolve Katja's MR comments and fix failing autopep8
  ros1/src/march_parameter_server/src/march_parameter_server/parameter_server_node.py
  ros2/src/march_gain_scheduling/launch/march_gain_scheduling.launch.py
  ros2/src/march_gain_scheduling/march_gain_scheduling/dynamic_pid_reconfigurer.py
  ros2/src/march_gain_scheduling/setup.py
  ros2/src/march_launch/launch/march_ros2_simulation.launch.py
Due: pep8

create a working node template
  ros1/src/march_acado_mpc/CMakeLists.txt
  ros1/src/march_acado_mpc/include/march_acado_mpc/mpc.h
  ros1/src/march_acado_mpc/launch/march_acado_mpc.launch
  ros1/src/march_acado_mpc/src/march_acado_mpc_node.cpp
Due: clang tidy

adding gitignore file
  ros1/src/march_acado_mpc/.gitignore
Due: none

fix pipeline error
  ros1/src/march_acado_mpc/CMakeLists.txt
Due: none

Add config for controller
  ros1/src/march_simulation/config/effort_control/march4_chain.yaml
Due: none

Implement basic long freeze functionality
  ros2/src/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/march_gait_selection/march_gait_selection/state_machine/semi_dynamic_setpoints_gait.py
  ros2/src/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
  ros2/src/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
  ros2/src/march_rqt_input_device/march_rqt_input_device/input_device_controller.py
  ros2/src/march_rqt_input_device/march_rqt_input_device/input_device_view.py
  ros2/src/march_shared_classes/march_shared_classes/gait/joint_trajectory.py
  ros2/src/march_shared_classes/march_shared_classes/gait/subgait.py
Due: pep8

copy all imc files to ingenia files
  ros1/src/march_hardware/include/march_hardware/ingenia/ingenia.h
  ros1/src/march_hardware/include/march_hardware/ingenia/ingenia_state_of_operation.h
  ros1/src/march_hardware/include/march_hardware/ingenia/ingenia_states.h
  ros1/src/march_hardware/include/march_hardware/ingenia/ingenia_target_state.h
  ros1/src/march_hardware/src/ingenia/ingenia.cpp
  ros1/src/march_hardware/src/ingenia/ingenia_target_state.cpp
Due: clang tidy

change all mentions of ImotionCube to Ingenia in the Ingenia class
  ros1/src/march_hardware/include/march_hardware/ingenia/ingenia.h
  ros1/src/march_hardware/src/ingenia/ingenia.cpp
Due: clang tidy

add ingenia pdo object names
  ros1/src/march_hardware/include/march_hardware/ethercat/pdo_map.h
  ros1/src/march_hardware/src/ethercat/pdo_map.cpp
Due: clang tidy

Change freeze to dynamic gait and right foot
  ros2/src/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/march_gait_selection/march_gait_selection/state_machine/gait_interface.py
  ros2/src/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/march_gait_selection/march_gait_selection/state_machine/home_gait.py
  ros2/src/march_gait_selection/march_gait_selection/state_machine/semi_dynamic_setpoints_gait.py
  ros2/src/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
  ros2/src/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
  ros2/src/march_rqt_input_device/march_rqt_input_device/input_device_view.py
Due: pep8

Add curb obstacle in simulation
  ros1/src/march_simulation/obstacles/curb.xacro
Due: none

finish collision and visual
  ros1/src/march_description/urdf/march4_chain.xacro
  ros1/src/march_launch/launch/upload_march_urdf.launch
  ros1/src/march_simulation/config/effort_control/march4_chain.yaml
Due: none

add yaml file for inertia controller
  ros1/src/march_simulation/config/inertia_control/march4_chain.yaml
Due: none

Clean up freezing code
  ros2/src/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/march_gait_selection/march_gait_selection/state_machine/gait_interface.py
  ros2/src/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/march_gait_selection/march_gait_selection/state_machine/home_gait.py
  ros2/src/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
  ros2/src/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
  ros2/src/march_rqt_input_device/march_rqt_input_device/input_device_controller.py
  ros2/src/march_rqt_input_device/march_rqt_input_device/input_device_view.py
  ros2/src/march_shared_classes/march_shared_classes/gait/joint_trajectory.py
Due: pep8
