Repository JorisWeeda/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pep8, docker, clang tidy

.gitlab-ci.yml:

stages:
  - docker
  - lint
  - build
  - test
  - static_analysis

image: registry.gitlab.com/project-march/march:latest

cache:
  key: "${CI_JOB_NAME}"
  paths:
    - ccache

colcon build:
  stage: build
  artifacts:
    paths:
      - ros1/build/
      - ros1/install/
      - ros1/log/
  script:
    - cd ros1/
    - colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+

colcon test:
  stage: test
  dependencies:
    - colcon build
  script:
    - cd ros1/
    - source install/setup.bash && colcon test --event-handlers console_direct+
    - colcon test-result --verbose

catkin_lint:
  stage: lint
  script:
    - cd ros1/
    - catkin_lint -W1 --strict src

pep8:
  stage: lint
  script:
    - cd ros1/
    - python -m autopep8 --diff -r --aggressive --aggressive --exit-code src
    - python -m flake8
  only:
    changes:
      - "**/*.py"
  allow_failure: true

docker:
  stage: docker
  image: docker:latest
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: "/certs"
  services:
    - docker:dind
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - if [[ $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH ]]; then docker build -t registry.gitlab.com/project-march/march .; fi;
    - if [[ $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH ]]; then docker push registry.gitlab.com/project-march/march; fi;
  rules:
    - changes:
        - Dockerfile

clang tidy:
  needs: ["colcon build"]
  stage: static_analysis
  script:
    - cd ros1/
    - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  only:
    changes:
      - "**/*.{hpp,h,cpp}"
  allow_failure: true

Implement basic long freeze functionality
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
  ros2/src/march_gait_selection/march_gait_selection/state_machine/semi_dynamic_setpoints_gait.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/joint_trajectory.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/subgait.py
  ros2/src/visualization/march_rqt_input_device/march_rqt_input_device/input_device_controller.py
  ros2/src/visualization/march_rqt_input_device/march_rqt_input_device/input_device_view.py
Due: pep8

Change CoM controller for debugging
  ros1/src/simulation/march_gazebo_plugins/src/obstacle_controller.cpp
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
Due: pep8, clang tidy

Fix some problems caused by rebase
  ros1/src/gaits/march_gait_files/test_versions-vi/curb_sdg/right_open/curb_sdg_rightopen_v1.subgait
  ros1/src/simulation/march_gazebo_plugins/cmake-build-debug/CTestConfiguration.ini
  ros1/src/simulation/march_gazebo_plugins/cmake-build-debug/CTestCustom.cmake
  ros1/src/simulation/march_gazebo_plugins/cmake-build-debug/atomic_configure/.rosinstall
  ros1/src/simulation/march_gazebo_plugins/cmake-build-debug/atomic_configure/_setup_util.py
  ros1/src/simulation/march_gazebo_plugins/cmake-build-debug/atomic_configure/env.sh
  ros1/src/simulation/march_gazebo_plugins/cmake-build-debug/atomic_configure/local_setup.bash
  ros1/src/simulation/march_gazebo_plugins/cmake-build-debug/atomic_configure/local_setup.sh
  ros1/src/simulation/march_gazebo_plugins/cmake-build-debug/atomic_configure/local_setup.zsh
  ros1/src/simulation/march_gazebo_plugins/cmake-build-debug/atomic_configure/setup.bash
  ros1/src/simulation/march_gazebo_plugins/cmake-build-debug/atomic_configure/setup.sh
  ros1/src/simulation/march_gazebo_plugins/cmake-build-debug/atomic_configure/setup.zsh
  ros1/src/simulation/march_gazebo_plugins/cmake-build-debug/catkin/catkin_generated/version/package.cmake
  ros1/src/simulation/march_gazebo_plugins/cmake-build-debug/catkin_generated/env_cached.sh
  ros1/src/simulation/march_gazebo_plugins/cmake-build-debug/catkin_generated/generate_cached_setup.py
  ros1/src/simulation/march_gazebo_plugins/cmake-build-debug/catkin_generated/installspace/.rosinstall
  ros1/src/simulation/march_gazebo_plugins/cmake-build-debug/catkin_generated/installspace/_setup_util.py
  ros1/src/simulation/march_gazebo_plugins/cmake-build-debug/catkin_generated/installspace/env.sh
  ros1/src/simulation/march_gazebo_plugins/cmake-build-debug/catkin_generated/installspace/local_setup.bash
  ros1/src/simulation/march_gazebo_plugins/cmake-build-debug/catkin_generated/installspace/local_setup.sh
  ros1/src/simulation/march_gazebo_plugins/cmake-build-debug/catkin_generated/installspace/local_setup.zsh
  ros1/src/simulation/march_gazebo_plugins/cmake-build-debug/catkin_generated/installspace/setup.bash
  ros1/src/simulation/march_gazebo_plugins/cmake-build-debug/catkin_generated/installspace/setup.sh
  ros1/src/simulation/march_gazebo_plugins/cmake-build-debug/catkin_generated/installspace/setup.zsh
  ros1/src/simulation/march_gazebo_plugins/cmake-build-debug/catkin_generated/setup_cached.sh
  ros1/src/simulation/march_gazebo_plugins/cmake-build-debug/catkin_generated/stamps/march_gazebo_plugins/_setup_util.py.stamp
  ros1/src/simulation/march_gazebo_plugins/cmake-build-debug/catkin_generated/stamps/march_gazebo_plugins/interrogate_setup_dot_py.py.stamp
  ros1/src/simulation/march_gazebo_plugins/cmake-build-debug/catkin_generated/stamps/march_gazebo_plugins/package.xml.stamp
  ros1/src/simulation/march_gazebo_plugins/src/obstacle_controller.cpp
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_interface.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/test/nosetests/test_semi_dynamic_gait.py
Due: pep8, clang tidy

Weaken tolerance and controller to see why goal is not achieved
  ros1/src/simulation/march_gazebo_plugins/include/march_gazebo_plugins/obstacle_controller.h
  ros1/src/simulation/march_gazebo_plugins/src/obstacle_controller.cpp
  ros1/src/simulation/march_gazebo_plugins/src/walk_controller.cpp
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
Due: pep8, clang tidy

Small bug fix in higher tolerance
  ros1/src/simulation/march_gazebo_plugins/src/obstacle_controller.cpp
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
Due: pep8, clang tidy

Clean up freeze functionality
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/home_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/joint_trajectory.py
Due: pep8

Fix and remove all unnecessary logging
  ros1/src/simulation/march_gazebo_plugins/include/march_gazebo_plugins/obstacle_controller.h
  ros1/src/simulation/march_gazebo_plugins/include/march_gazebo_plugins/walk_controller.h
  ros1/src/simulation/march_gazebo_plugins/src/obstacle_controller.cpp
  ros1/src/simulation/march_gazebo_plugins/src/walk_controller.cpp
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/gaits/march_gait_selection/test/nosetests/test_semi_dynamic_gait.py
Due: pep8, clang tidy

Fix ros2 tests
  ros2/src/gaits/march_gait_selection/test/nosetests/test_gait_selection.py
  ros2/src/gaits/march_gait_selection/test/nosetests/test_semi_dynamic_gait.py
Due: pep8

Add newline for fixing flake8 warning
  ros1/src/gaits/march_gait_selection/test/nosetests/test_gait_selection.py
Due: pep8

Fix merge comments
  ros1/src/shared/march_description/urdf/march4.xacro
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/test/nosetests/test_semi_dynamic_gait.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/subgait_graph.py
  ros2/src/visualization/march_rqt_input_device/march_rqt_input_device/input_device_controller.py
Due: pep8

Fix comments on MR
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/joint_trajectory.py
Due: pep8

Remove semi-dynamic stairs up
  ros1/src/gaits/march_gait_files/test_versions-vi/default.yaml
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/visualization/march_rqt_input_device/march_rqt_input_device/input_device_view.py
Due: pep8

Fix problem caused by merge conflict in ros1 tests
  ros1/src/gaits/march_gait_selection/test/nosetests/test_gait_selection.py
Due: pep8

Working node, except for error caused by pcl conversions
  ros1/src/march_launch/launch/march_ros2_simulation.launch
  ros1/src/shared/march_description/urdf/march4.xacro
  ros2/src/data/march_pcl_conversion/CMakeLists.txt
  ros2/src/data/march_pcl_conversion/include/march_pcl_conversion/pcl_conversion_node.h
  ros2/src/data/march_pcl_conversion/package.xml
  ros2/src/data/march_pcl_conversion/src/pcl_conversion_node.cpp
Due: clang tidy

Fix flake8 trailing comma missing
  ros1/src/visualization/march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
Due: pep8

Update share destination folders for march_gait_files
  ros1/src/gaits/march_gait_files/CMakeLists.txt
  ros2/src/gaits/march_gait_files/CMakeLists.txt
Due: none

Change reference from shared_resources to shared_msgs in simulation
  ros1/src/simulation/march_simulation/scripts/set_obstacle_dimensions
Due: none

Move gait files to ros2 folder
  ros1/src/gaits/march_gait_files/CMakeLists.txt
  ros2/src/gaits/march_gait_files/CMakeLists.txt
Due: none

Rename march_shared_resources to march_shared_msgs
  ros1/src/shared/march_shared_msgs/CMakeLists.txt
  ros1/src/shared/march_shared_msgs/docs/Doxyfile
  ros1/src/shared/march_shared_msgs/msg/AfterLimitJointCommand.msg
  ros1/src/shared/march_shared_msgs/msg/Alive.msg
  ros1/src/shared/march_shared_msgs/msg/CurrentGait.msg
  ros1/src/shared/march_shared_msgs/msg/CurrentState.msg
  ros1/src/shared/march_shared_msgs/msg/Error.msg
  ros1/src/shared/march_shared_msgs/msg/GaitInstruction.msg
  ros1/src/shared/march_shared_msgs/msg/GaitInstructionResponse.msg
  ros1/src/shared/march_shared_msgs/msg/HighVoltageNet.msg
  ros1/src/shared/march_shared_msgs/msg/ImcState.msg
  ros1/src/shared/march_shared_msgs/msg/JointValues.msg
  ros1/src/shared/march_shared_msgs/msg/LowVoltageNet.msg
  ros1/src/shared/march_shared_msgs/msg/PowerDistributionBoardState.msg
  ros1/src/shared/march_shared_msgs/msg/PressureSole.msg
  ros1/src/shared/march_shared_msgs/package.xml
  ros1/src/shared/march_shared_msgs/srv/CapturePointPose.srv
  ros1/src/shared/march_shared_msgs/srv/ContainsGait.srv
  ros1/src/shared/march_shared_msgs/srv/GetParamBool.srv
  ros1/src/shared/march_shared_msgs/srv/GetParamFloat.srv
  ros1/src/shared/march_shared_msgs/srv/GetParamInt.srv
  ros1/src/shared/march_shared_msgs/srv/GetParamString.srv
  ros1/src/shared/march_shared_msgs/srv/GetParamStringList.srv
  ros1/src/shared/march_shared_msgs/srv/PossibleGaits.srv
  ros1/src/shared/march_shared_msgs/srv/SetGaitVersion.srv
  ros1/src/shared/march_shared_msgs/srv/SetObstacleSize.srv
  ros1/src/shared/march_shared_msgs/srv/SetParamBool.srv
  ros1/src/shared/march_shared_msgs/srv/SetParamFloat.srv
  ros1/src/shared/march_shared_msgs/srv/SetParamInt.srv
  ros1/src/shared/march_shared_msgs/srv/SetParamString.srv
  ros1/src/shared/march_shared_msgs/srv/SetParamStringList.srv
Due: none

Update gazabo reference
  ros2/src/shared/march_description/urdf/march4_with_koen_lengths.xacro
Due: none

Fix march_description package
  ros1/src/shared/march_description/CMakeLists.txt
Due: none

Change mapping rules
  ros2/src/shared/march_shared_msgs/mapping_rules.yaml
Due: none

Add temporary launch file
  ros1/src/march_launch/launch/march_ros2_mvp.launch
  ros1/src/march_launch/package.xml
Due: none

Temporarily disable certain simulation dependencies
  ros1/src/simulation/march_simulation/launch/march_world.launch
  ros1/src/simulation/march_simulation/package.xml
Due: none

Make hipbase fixed to world
  ros1/src/shared/march_description/urdf/march4_chain.xacro
Due: none

Split frame using a macro
  ros1/src/shared/march_description/urdf/macros/frame_part.xacro
  ros1/src/shared/march_description/urdf/macros/pressure_sole.xacro
  ros1/src/shared/march_description/urdf/macros/rotational_joint.xacro
  ros1/src/shared/march_description/urdf/macros/safety_limits.xacro
  ros1/src/shared/march_description/urdf/march4_old.xacro
  ros1/src/shared/march_description/urdf/properties/inertia_march4.yaml
  ros1/src/shared/march_description/urdf/properties/knee.yaml
Due: none

Remove commented code in trajectory_scheduler.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
Due: pep8

Fix launch file syntax error
  ros2/src/march_launch/launch/march_ros2_simulation.launch.py
Due: pep8

Add pointcloud callback
  ros2/src/data/march_pcl_conversion/include/march_pcl_conversion/pcl_conversion_node.h
  ros2/src/data/march_pcl_conversion/src/pcl_conversion_node.cpp
Due: clang tidy

Copy simulation files
  ros2/src/march_simulation/CMakeLists.txt
  ros2/src/march_simulation/package.xml
  ros2/src/march_simulation/scripts/to_world_transform
Due: none
