Repository JorisWeeda/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, flake8, noetic:clang_tidy, foxy:clang_tidy

Path conditions:
  container:build: any of: Dockerfile, **/package.xml
  flake8: any of: ros1/src/**/*.py, ros2/src/**/*.py
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}

Adding odrive_test_joint_linear config file
  ros1/src/march_hardware_builder/robots/odrive_test_joint_linear.yaml
Due: none

Cherry pick commit 707c7bf3d2184d4a5a59eda183d4a497dfea39bb
  ros2/src/simulation/march_fake_sensor_data/CMakeLists.txt
  ros2/src/simulation/march_fake_sensor_data/package.xml
  ros2/src/simulation/march_fake_sensor_data/src/FakeTemperatureData.cpp
Due: container:build, foxy:clang_tidy

Cherry pick commit 45d8356d750f34309da9497f23ec3e956461cf23
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/transition_subgait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_interface.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
  ros2/src/gaits/march_gait_selection/package.xml
  ros2/src/gaits/march_gait_selection/test/nosetests/test_gait_selection.py
  ros2/src/gaits/march_gait_selection/test/nosetests/test_gait_transition.py
  ros2/src/march_launch/package.xml
  ros2/src/shared/march_utility/march_utility/gait/gait.py
  ros2/src/shared/march_utility/march_utility/gait/joint_trajectory.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
  ros2/src/shared/march_utility/march_utility/gait/subgait_graph.py
  ros2/src/shared/march_utility/test/gait_test.py
  ros2/src/shared/march_utility/test/joint_trajectory_test.py
  ros2/src/shared/march_utility/test/limits_test.py
  ros2/src/shared/march_utility/test/setpoint_test.py
  ros2/src/shared/march_utility/test/subgait_graph_test.py
  ros2/src/shared/march_utility/test/subgait_test.py
Due: container:build, flake8

Use node_utils in fake_sensor_data
  ros2/src/shared/march_utility/CMakeLists.txt
  ros2/src/shared/march_utility/include/march_utility/march_util.hpp
  ros2/src/shared/march_utility/include/march_utility/node_utils.hpp
  ros2/src/shared/march_utility/src/march_util.cpp
  ros2/src/shared/march_utility/src/node_utils.cpp
  ros2/src/simulation/march_fake_sensor_data/include/march_fake_sensor_data/FakeTemperatureData.hpp
  ros2/src/simulation/march_fake_sensor_data/src/FakeTemperatureData.cpp
Due: foxy:clang_tidy

Apply black formatter
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
  ros2/src/visualization/march_rqt_input_device/march_rqt_input_device/input_device_view.py
Due: flake8

Update test joint gait generator to use march_utility
  ros2/src/gaits/march_gait_files/test_joint_gaits/test_joint_gait/perform_test/example.subgait
  ros2/src/gaits/march_test_joint_gait_generator/config/example.yaml
  ros2/src/gaits/march_test_joint_gait_generator/march_test_joint_gait_generator/test_joint_gait_generator.py
  ros2/src/gaits/march_test_joint_gait_generator/package.xml
Due: container:build, flake8

Apply black formatter again
  ros2/src/gaits/march_test_joint_gait_generator/march_test_joint_gait_generator/test_joint_gait_generator.py
Due: flake8

Add final changes
  ros1/src/hardware/interface/march_hardware_interface/launch/hardware.launch
  ros1/src/hardware/interface/march_hardware_interface/package.xml
Due: container:build

Added includes to joint_trajectory_mpc
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
Due: noetic:clang_tidy

Aesthetic code changes
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
  ros1/src/control/march_joint_inertia_controller/include/march_joint_inertia_controller/joint_trajectory_inertia_controller.h
Due: noetic:clang_tidy

Changed quotes to angle brackets in inertia estimator include
  ros1/src/control/march_acado_mpc/include/joint_trajectory_mpc.hpp
Due: noetic:clang_tidy

Added march_joint_inertia_estimator to mpc cmakelists.txt
  ros1/src/control/march_acado_mpc/CMakeLists.txt
Due: none

Changed include path
  ros1/src/control/march_acado_mpc/CMakeLists.txt
  ros1/src/control/march_joint_inertia_controller/include/march_joint_inertia_controller/joint_trajectory_inertia_controller.h
Due: noetic:clang_tidy

Written script to predict inertia fr given path
  ros1/src/control/march_joint_inertia_controller/scripts/inertiaPredictionPlot.py
Due: flake8

Test for pipeline problem
  ros1/src/data/march_realsense_reader/package.xml
Due: container:build

Removing pcl dependencies for pipeline problem
  ros1/src/data/march_realsense_reader/package.xml
Due: container:build

Add only libpcl dependency
  ros1/src/data/march_realsense_reader/package.xml
Due: container:build

Test only pcl_conversions
  ros1/src/data/march_realsense_reader/package.xml
Due: container:build

Gait selection package file and hardware.launch file changed
  ros1/src/hardware/interface/march_hardware_interface/launch/hardware.launch
  ros2/src/gaits/march_gait_selection/package.xml
Due: container:build

Remove sudo launch_prefix
  ros1/src/hardware/interface/march_hardware_interface/launch/hardware.launch
Due: none
