Repository JorisWeeda/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pep8, docker, clang tidy

.gitlab-ci.yml:

stages:
  - docker
  - lint
  - build
  - test
  - static_analysis

image: registry.gitlab.com/project-march/march:latest

cache:
  key: "${CI_JOB_NAME}"
  paths:
    - ccache

colcon build:
  stage: build
  artifacts:
    paths:
      - ros1/build/
      - ros1/install/
      - ros1/log/
  script:
    - cd ros1/
    - colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+

colcon test:
  stage: test
  dependencies:
    - colcon build
  script:
    - cd ros1/
    - source install/setup.bash && colcon test --event-handlers console_direct+
    - colcon test-result --verbose

catkin_lint:
  stage: lint
  script:
    - cd ros1/
    - catkin_lint -W1 --strict src

pep8:
  stage: lint
  script:
    - cd ros1/
    - python -m autopep8 --diff -r --aggressive --aggressive --exit-code src
    - python -m flake8
  only:
    changes:
      - "**/*.py"
  allow_failure: true

docker:
  stage: docker
  image: docker:latest
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: "/certs"
  services:
    - docker:dind
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - if [[ $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH ]]; then docker build -t registry.gitlab.com/project-march/march .; fi;
    - if [[ $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH ]]; then docker push registry.gitlab.com/project-march/march; fi;
  rules:
    - changes:
        - Dockerfile

clang tidy:
  needs: ["colcon build"]
  stage: static_analysis
  script:
    - cd ros1/
    - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  only:
    changes:
      - "**/*.{hpp,h,cpp}"
  allow_failure: true

Add second submodule
  .gitmodules
  ros1/src/shared/march_description/package.xml
  ros1/src/shared/march_description/urdf/march4_with_koen_lengths.xacro
  ros1/src/simulation/march_gazebo_plugins/CMakeLists.txt
  ros1/src/simulation/march_gazebo_plugins/package.xml
Due: none

Fix bug in subgait to_yaml() function
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/subgait.py
Due: pep8

Add testjoint gait buttons to ros1 and ros2 input device
  ros1/src/gaits/march_gait_files/test_joint_gaits/test_joint_gait/perform_test/example.subgait
  ros1/src/visualization/march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
  ros2/src/visualization/march_rqt_input_device/march_rqt_input_device/input_device_view.py
Due: pep8

add control_Toolbox dependency
  ros2_dependencies.repos
Due: none

Add to cmakelists
  ros1/src/gaits/march_gait_files/CMakeLists.txt
Due: none

Add empty package for including pcl in ros2
  ros2/src/data/march_pcl_conversion/CMakeLists.txt
  ros2/src/data/march_pcl_conversion/package.xml
Due: none

Fix merge comments
  ros1/src/shared/march_description/urdf/march4.xacro
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/test/nosetests/test_semi_dynamic_gait.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/subgait_graph.py
  ros2/src/visualization/march_rqt_input_device/march_rqt_input_device/input_device_controller.py
Due: pep8

Remove semi-dynamic stairs up
  ros1/src/gaits/march_gait_files/test_versions-vi/default.yaml
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/visualization/march_rqt_input_device/march_rqt_input_device/input_device_view.py
Due: pep8

Add gazebo reference
  ros1/src/shared/march_description/urdf/test_joint_rotational.xacro
Due: none

Add launching from parameter file
  ros1/src/gaits/march_gait_files/test_joint_gaits/test_joint_gait/perform_test/example.subgait
  ros1/src/gaits/march_gait_files/test_joint_gaits/test_joint_gait/perform_test/version_0.subgait
  ros2/src/gaits/march_test_joint_gait_generator/config/example.yaml
  ros2/src/gaits/march_test_joint_gait_generator/launch/test_joint_gait_generator.launch.py
  ros2/src/gaits/march_test_joint_gait_generator/launch/test_joint_gait_generator_from_parameter_file.launch.py
  ros2/src/gaits/march_test_joint_gait_generator/march_test_joint_gait_generator/test_joint_gait_generator.py
  ros2/src/gaits/march_test_joint_gait_generator/setup.py
Due: pep8

Fix autopep8
  ros1/src/visualization/march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
Due: pep8

Update launch file
  ros2/src/march_launch/launch/march_ros2_simulation.launch.py
Due: pep8

Load all buttons using layout file
  ros2/src/march_launch/launch/march_ros2_simulation.launch.py
  ros2/src/visualization/march_rqt_input_device/config/layout.txt
  ros2/src/visualization/march_rqt_input_device/launch/input_device.launch.py
  ros2/src/visualization/march_rqt_input_device/march_rqt_input_device/input_device_controller.py
  ros2/src/visualization/march_rqt_input_device/march_rqt_input_device/input_device_plugin.py
  ros2/src/visualization/march_rqt_input_device/march_rqt_input_device/input_device_view.py
  ros2/src/visualization/march_rqt_input_device/resource/img/home_sit.png
  ros2/src/visualization/march_rqt_input_device/resource/img/home_stand.png
  ros2/src/visualization/march_rqt_input_device/setup.py
Due: pep8

Fix bug in com controller when balance:=true
  ros1/src/simulation/march_gazebo_plugins/src/obstacle_controller.cpp
Due: clang tidy

Increase marker size and log capture point info to screen
  ros1/src/data/march_data_collector/src/march_data_collector/cp_calculator.py
Due: pep8

Undo ros2 control integration
  ros1/src/shared/march_description/urdf/march4.xacro
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
  ros2/src/march_launch/launch/march_ros2_simulation.launch.py
  ros2/src/simulation/march_simulation/launch/march_world.launch.py
Due: pep8

Allow rviz and gazebo to be run from same urdf file by altering mesh_basepath conditionally
  ros2/src/shared/march_description/urdf/march4_position.xacro
  ros2/src/shared/march_description/urdf/march4_position_gazebo.xacro
  ros2/src/shared/march_description/urdf/test_joint_rotational_position.xacro
  ros2/src/simulation/march_simulation/config/position_control/test_joint_rotational.yaml
  ros2/src/simulation/march_simulation/launch/march_world.launch.py
Due: pep8

Fix comments on MR
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/joint_trajectory.py
Due: pep8

Add new xacro, and update cmake and controller accordingly
  ros1/src/shared/march_description/CMakeLists.txt
  ros1/src/shared/march_description/urdf/march4_chain.xacro
  ros1/src/simulation/march_simulation/config/effort_control/march4_chain.yaml
Due: none

Add basic subscription node for pcl
  ros2/src/data/march_pcl_conversion/include/march_pcl_conversion/pcl_conversion_node.h
  ros2/src/data/march_pcl_conversion/src/pcl_conversion_node.cpp
  ros2/src/march_launch/launch/march_ros2_simulation.launch.py
Due: pep8, clang tidy

Re-add camera to xacro
  ros1/src/shared/march_description/urdf/march4.xacro
Due: none

Comment out unused ros2 dependencies
  ros2_dependencies.repos
  ros2_dependencies.yaml
Due: none

Change file type to .repos
  ros2_dependencies.repos
Due: none

Add first draft of inertia estimator.
  ros1/src/control/march_joint_inertia_controller/CMakeLists.txt
  ros1/src/control/march_joint_inertia_controller/include/march_joint_inertia_controller/inertia_estimator_node.h
  ros1/src/control/march_joint_inertia_controller/launch/inertia_estimator_node.launch
  ros1/src/control/march_joint_inertia_controller/src/inertia_estimator_node.cpp
  ros1/src/control/march_joint_inertia_controller/src/joint_inertia_controller.cpp
Due: clang tidy

Resolve MR comments
  ros1/src/gaits/march_gait_files/default.yaml
  ros1/src/gaits/march_gait_files/test_joint_gaits/test_joint_gait/perform_test/example.subgait
  ros2/src/gaits/march_test_joint_gait_generator/march_test_joint_gait_generator/test_joint_gait_generator.py
Due: pep8

Implement working pcl node, still with errors on bridging depth images
  ros2/src/data/march_pcl_conversion/CMakeLists.txt
  ros2/src/data/march_pcl_conversion/include/march_pcl_conversion/pcl_conversion_node.h
  ros2/src/data/march_pcl_conversion/package.xml
  ros2/src/data/march_pcl_conversion/src/pcl_conversion_node.cpp
Due: clang tidy

Bug fix in test
  ros2/src/march_gait_selection/test/nosetests/test_semi_dynamic_gait.py
Due: pep8

Add curb obstacle
  ros1/src/march_simulation/obstacles/curb.xacro
Due: none

Some small improvements to make the pressure sole thinner
  ros1/src/shared/march_description/urdf/march4.xacro
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
Due: pep8

Add curb obstacle in simulation
  ros1/src/march_simulation/obstacles/curb.xacro
Due: none

Clean up freezing code
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/state_machine/gait_interface.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/home_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
  ros2/src/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/joint_trajectory.py
  ros2/src/visualization/march_rqt_input_device/march_rqt_input_device/input_device_controller.py
  ros2/src/visualization/march_rqt_input_device/march_rqt_input_device/input_device_view.py
Due: pep8

Add failing test for semi dynamic gaits
  ros1/src/gaits/march_gait_selection/test/nosetests/test_gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
  ros2/src/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/march_gait_selection/test/nosetests/test_semi_dynamic_gait.py
Due: pep8

Fix duplication of xacro files
  ros2/src/shared/march_description/CMakeLists.txt
Due: none

Add temporary logging and use actual positions
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/state_machine/gait_interface.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/home_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
  ros2/src/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/joint_trajectory.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/subgait.py
Due: pep8

Update the subgait names to be more suitable for the CoM controller
  ros1/src/simulation/march_gazebo_plugins/src/obstacle_controller.cpp
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/shared/march_shared_classes/march_shared_classes/gait/joint_trajectory.py
Due: pep8, clang tidy

Change force to use sum instead of 1 point
  ros1/src/gaits/march_gait_files/test_versions-vi/curb_sdg/right_open/curb_sdg_rightopen_v1.subgait
  ros1/src/gaits/march_gait_files/test_versions-vi/default.yaml
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
Due: pep8

Add curb gait and fix destroying the node
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
  ros2/src/march_gait_selection/march_gait_selection/dynamic_gaits/semi_dynamic_setpoints_gait.py
  ros2/src/visualization/march_rqt_input_device/march_rqt_input_device/input_device_view.py
Due: pep8

Change freeze to dynamic gait and right foot
  ros1/src/gaits/march_gait_selection/src/march_gait_selection/state_machine/gait_interface.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/home_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
  ros2/src/march_gait_selection/march_gait_selection/state_machine/semi_dynamic_setpoints_gait.py
  ros2/src/visualization/march_rqt_input_device/march_rqt_input_device/input_device_view.py
Due: pep8
