Repository JorisWeeda/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pep8, docker, clang tidy

.gitlab-ci.yml:

stages:
  - docker
  - lint
  - build
  - test
  - static_analysis

image: registry.gitlab.com/project-march/march:latest

cache:
  key: "${CI_JOB_NAME}"
  paths:
    - ccache

colcon build:
  stage: build
  artifacts:
    paths:
      - ros1/build/
      - ros1/install/
      - ros1/log/
  script:
    - cd ros1/
    - colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+

colcon test:
  stage: test
  dependencies:
    - colcon build
  script:
    - cd ros1/
    - source install/setup.bash && colcon test --event-handlers console_direct+
    - colcon test-result --verbose

catkin_lint:
  stage: lint
  script:
    - cd ros1/
    - catkin_lint -W1 --strict src

pep8:
  stage: lint
  script:
    - cd ros1/
    - python -m autopep8 --diff -r --aggressive --aggressive --exit-code src
    - python -m flake8
  only:
    changes:
      - "**/*.py"
  allow_failure: true

docker:
  stage: docker
  image: docker:latest
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: "/certs"
  services:
    - docker:dind
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - if [[ $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH ]]; then docker build -t registry.gitlab.com/project-march/march .; fi;
    - if [[ $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH ]]; then docker push registry.gitlab.com/project-march/march; fi;
  rules:
    - changes:
        - Dockerfile

clang tidy:
  needs: ["colcon build"]
  stage: static_analysis
  script:
    - cd ros1/
    - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null
  only:
    changes:
      - "**/*.{hpp,h,cpp}"
  allow_failure: true

Move files to simulation directory
  ros2/src/simulation/march_simulation/CMakeLists.txt
  ros2/src/simulation/march_simulation/package.xml
  ros2/src/simulation/march_simulation/scripts/to_world_transform
Due: none

Add march.world file to copy folder
  ros2/src/simulation/march_simulation/worlds/march.world
Due: none

Add script to copied folder
  ros2/src/simulation/march_simulation/scripts/set_obstacle_dimensions
Due: none

Update package.xml
  ros2/src/simulation/march_simulation/package.xml
Due: none

Remove gait files in ros1
  ros1/src/gaits/march_gait_files/test_joint_gaits/default.yaml
  ros1/src/gaits/march_gait_files/test_joint_gaits/test_joint_gait/perform_test/example.subgait
  ros1/src/gaits/march_gait_files/test_joint_gaits/test_joint_gait/test_joint_gait.gait
Due: none

Fix bug in com controller when balance:=true
  ros1/src/simulation/march_gazebo_plugins/src/obstacle_controller.cpp
Due: clang tidy

Increase marker size and log capture point info to screen
  ros1/src/data/march_data_collector/src/march_data_collector/cp_calculator.py
Due: pep8

Remove test dependencies
  ros2/src/gaits/march_test_joint_gait_generator/package.xml
  ros2/src/gaits/march_test_joint_gait_generator/setup.py
Due: pep8

Apply black formatter
  ros2/src/gaits/march_test_joint_gait_generator/launch/test_joint_gait_generator.launch.py
  ros2/src/gaits/march_test_joint_gait_generator/launch/test_joint_gait_generator_from_parameter_file.launch.py
  ros2/src/gaits/march_test_joint_gait_generator/march_test_joint_gait_generator/test_joint_gait_generator.py
Due: pep8
